<nz-layout class="app">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <div class="header">
      <tr class="flex">
        <td style="min-width: 80%;">
          <h1>Learn German Fast</h1>
        </td>

        <td style="text-align: right; width: 100%;" >
          <img src="assets/imgs/d-logo.png" alt="" height="60">
        </td>
      </tr>
    </div>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <!-- <nz-footer>Footer</nz-footer> -->
  </div>

</nz-layout>
