.app {
  :host {
    display: block;
  }

   .navbar {
    background: #3c81db;
    color: white;

    margin: 0;
    text-align: center;
    padding-top: 15px;

    border-radius: 0 0 50% 50%;
  }
}
