<div class="app">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <div class="navbar">
      <tr *ngIf="utilsProv.isDesktop" style="display: flex;  justify-content: center;">
        <td>
          <img src="assets/imgs/logo-lgf.png" alt="" width="190">
        </td>

        <td style="width: 80%;">
          <div style="text-align: right; ">
            <img src="assets/imgs/germany.png" alt="" (click)="l.changeLanguage('de')">&nbsp;&nbsp;
            <img src="assets/imgs/france2.png" alt="" (click)="l.changeLanguage('fr')">&nbsp;&nbsp;
            <img src="assets/imgs/britain.png" alt="" (click)="l.changeLanguage('en')">

            <p style="padding-right: 45px;">{{l.lang.expr1}}</p>
          </div>


          <h1 style="font-size: 48px; margin-bottom: 5px; color: white;">Learn German Fast</h1>
          <h2 style="color: wheat;"><i>Online Deutsch lernen (A1, A2, B1, B2, C1 und C2) zum besten Preis</i></h2>
        </td>
      </tr>

      <div *ngIf="utilsProv.isMobile">
        <img src="assets/imgs/logo-lgf.png" alt="" width="90">
        <h3 style="margin: 10px; padding-bottom: 15px; color: #021925"><i>Online Deutsch lernen (A1, A2, B1, B2, C1 und
            C2) zum besten Preis</i></h3>
      </div>
    </div>

    <router-outlet></router-outlet>

    <div class="footer">

      <div *ngIf="utilsProv.isMobile" style="padding-top: 12px; text-align: center;">
        <img src="assets/imgs/germany.png" alt="" (click)="l.changeLanguage('de')">&nbsp;&nbsp;
        <img src="assets/imgs/france2.png" alt="" (click)="l.changeLanguage('fr')">&nbsp;&nbsp;
        <img src="assets/imgs/britain.png" alt="" (click)="l.changeLanguage('en')">

        <p style="font-size: 16px;">{{l.lang.expr1}}</p>
      </div>

      <p>&copy;2020 Lean German Fast</p>

      <p>
        <a href="https://www.facebook.com/Learn-German-Fast-115381443578778/">
          <i nz-icon nzTheme="fill" nzType="facebook" style="color: #4267B2; font-size: 35px; padding-right: 30px;"></i>
        </a>

        <i nz-icon nzTheme="fill" nzType="instagram-o" style="color: #f525e3; font-size: 35px;"></i>
      </p>


      <p style="font-size: 18px;"><i><span style="font-size: 14px;">V100</span> Powered by <a
            href="https://napata-pro.web.app">www.napata-pro.web.app</a></i>
      </p>

    </div>
  </div>
</div>
