.app-header {
  position: relative;

  .navbar {
    background: #46892a;
    position: fixed;
    z-index: 99999;
    height: 70px;
    padding-left: 20px;
    align-items: center;
    display: flex;
    width: 100%;
    top: 0;
    border-bottom: 5px solid #f8d700;
  }

  .top-menu {
    background: #f8d700;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
  }

  .top-menu-sub {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    width: 180px;
    max-width: 180px;
    padding: 10px 0px;
    margin: 15px 25px;
    border: solid 1px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 95px;
  }

  .menu-item:hover {
    background: white;
    color: brown;
  }

  .menu-item-activated {
    background: white;
    color: brown;
  }
}

.mobile {
  .top-menu-sub {
    width: 100%;
    // padding-top: 10px;
  }

  .menu-item {
    width: 90px;
    max-width: 90px;
    padding: 10px 0px;
    margin: 10px 10px;
    font-size: 14px;
    height: 90px;
  }
}
