<navbar title="Archiver les acquis"></navbar>

<div style="padding-top: 65px;">

  <h3>En construction ...</h3>

  <div style="text-align: left; padding: 12px">
    <p><b><u>Objectif de cette page:</u></b></p>


    <p>On ne peut pas toujours tout recommencer a zéro. Les vérités découvertes par les générations anterieures doivent
      etre la base pour les générations futures.</p>


    <p>Les dossiers et sujets qui ont été analysés et <b>bouclés</b> doivent ere archivés pour les génerations futures.
    </p>
  </div>

</div>
