body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

 .submit {
    padding: 15px;
    background: #457cf1;
    border: none;
    color: white;
    font-family: 'Courier New';
  }

  .cancel {
    padding: 15px;
    background: tomato;
    border: none;
    color: white;
    font-family: 'Courier New';
  }
