<navbar title="Passer le témoin"></navbar>

<div style="padding-top: 65px;">

  <h3>En construction ...</h3>

  <div style="text-align: left; padding: 12px">
    <p><b><u>Objectif de cette page:</u></b></p>


    <p>On ne peut pas toujours tout recommencer a zéro. Les vérités, techniques et idéologies découvertes par les
      générations anterieures doivent etre la base pour les générations futures.</p>


    <p><u>Long term:</u> Statisques, bilan et baromètre du passage du témoin a la génération actuelle
    </p>
  </div>

</div>
