<div class="app">
  <div [class]="utilsProv.isDesktop? 'desktop' : 'mobile'">
    <div class="head">
      <h1>Le Griot Moderne</h1>
    </div>

    <div class="content flex">
      <div class="banner">
        <img src="assets/imgs/banner.png" [height]="utilsProv.isDesktop? 380 : 250" />
      </div>

      <div class="features flex">
        <div *ngFor="let feature of features">
          <div class="feature">
            <img [src]="feature.pic" alt="">
            <p>{{feature.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
