.app {
  color: rgb(247, 52, 52);
  display: block;

  .head {
    text-align: center;
    padding-top: 15px;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features {
    background: rgb(240, 26, 176);
    padding-top: 35px;
    width: 100%;
    color: white;
  }

  .banner {
    width: 95vw;
    flex-direction: row;
    text-align: center;

    h2{
      text-align: center;
      color: purple;
    }
  }

}

.desktop {
  h1 {
    font-size: 55px;
    text-align: left;
    padding-left: 65px;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feature {
    img {
      width: 80px;
    }
  }

  .content {
    background: #f1f507;
    // padding: 25px;
  }

  .apply{
    padding: 55px;
  }
}

.mobile {
  .feature {
    img {
      width: 80px;
    }
  }

  .apply{
    padding-top: 25px;
  }
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}
