<div class="landlord noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <app-header [menuList]="dataprov.landlordMenu" (menuSeleted)="topMenuSelected($event)"
      (toogleMenu)="toogleMenu($event)" *ngIf="currentView!=view.document">
    </app-header>

    <div class="content1" *ngIf="!dataprov.showTopMenu">
      <div *ngIf="currentView==view.account">
        <div style="text-align: center; padding-bottom: 8px;">
          <div nz-icon nzType="user" style="font-size: 40px;"></div>
          <h1 style="border-bottom:  solid 1px black;">Compte
            {{userLib?.currentUser?.type == userEnum.landlord ? 'Bailleur' : userLib?.currentUser?.type == userEnum.renter ? 'Locataire' : ''}}
          </h1>
        </div>

        <div style="text-align: center; padding-bottom: 22px;">
          <button nz-button (click)="userLib.signOut()">Log out</button>
        </div>

        <p><b><u>Nom:</u></b> {{userLib.currentUser?.lastName}} {{userLib.currentUser?.firstName}} </p>
        <p><b><u>Email:</u></b> {{userLib.currentUser?.email}} </p>
        <p><b><u>Adresse:</u></b> {{userLib.currentUser?.addres}} </p>
        <p><b><u>Tel:</u></b> {{userLib.currentUser?.tel | number:'':'fr'}} </p>

      </div>

      <div *ngIf="currentView==view.bill">
        <h1 style="text-align: center; color: brown;">Les factures clients</h1>

        <div *ngFor="let house of this.homeProv.getHousesDetails(); let index=index">
          <div style="padding-left: 12px;">
            <h2> {{house?.name}}</h2>

            <div style="padding-left: 12px;">
              <p> {{house?.address}} </p>

              <p><u>Logements:</u></p>
              <nz-collapse>
                <nz-collapse-panel *ngFor="let home of getHomesFromHouse(house)" [nzHeader]="home.name">
                  <p style="margin:0;"><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                  <p style="margin:0;"><u>Locataire:</u> {{userProv.getRenterbyHomeID(home.id)?.lastName}} </p>
                  <p style="margin:0;"><u>Solde:</u> {{userProv.getRenterbyHomeID(home.id)?.saldo}} </p>

                  <br>
                  <nz-collapse>
                    <nz-collapse-panel [nzHeader]="'Factures'"></nz-collapse-panel>
                  </nz-collapse>

                  <br>
                  <nz-collapse>
                    <nz-collapse-panel [nzHeader]="'Réclamations'"></nz-collapse-panel>
                  </nz-collapse>
                </nz-collapse-panel>
              </nz-collapse>
            </div>

            <hr>

          </div>
        </div>
      </div>

      <div *ngIf="currentView==view.saldo">
        <h1 style="text-align: center;">Mon solde</h1>

        <nz-tabset>
          <nz-tab nzTitle="Tous">

          </nz-tab>

          <nz-tab nzTitle="Dépôts">

          </nz-tab>

          <nz-tab nzTitle="Retraits">

          </nz-tab>

        </nz-tabset>
      </div>

      <div *ngIf="currentView==view.house">
        <h1 style="text-align: center; color: brown;">Mes résidences</h1>

        <div *ngFor="let house of this.homeProv.getHousesDetails(); let index=index">
          <!-- <h2>Résidence {{index+1}} </h2> -->
          <h2><b>{{house?.name}}</b></h2>

          <div style="padding-left: 12px;">
            <!-- <p><u>Nom:</u> {{house?.name}}</p> -->
            <p><u>Adresse:</u> {{house?.address}} </p>

            <p><u>Équipements:</u>
              <span *ngFor="let equip of house?.equipment"> {{equip}}, </span>
            </p>

            <p><u>Logements:</u></p>
            <nz-collapse>
              <nz-collapse-panel *ngFor="let home of getHomesFromHouse(house)" [nzHeader]="home.name">
                <p><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                <p><u>Loyer:</u> {{home.cost.Caution | number:'':'fr'}} </p>

                <p style="margin-bottom: 5px;"><u>Pièces:</u></p>
                <div style="padding-left: 12px;">
                  <div *ngFor="let room of home.rooms">
                    <p>
                      <span style="color: lightseagreen; font-weight: bold;">{{room.type}}:</span>
                      <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                    </p>
                  </div>

                </div>
              </nz-collapse-panel>
            </nz-collapse>

          </div>

        </div>
      </div>

      <div *ngIf="currentView==view.renter">
        <h1 style="text-align: center; color: brown;">Mes locataires</h1>

        <div *ngFor="let renter of getRenterDetails()">
          <h2><b>{{renter?.lastName}} {{renter?.firstName}}</b></h2>

          <div style="padding-left: 15px;">
            <p><span class="sub">Adresse: </span> {{renter?.addres}} </p>
            <p><span class="sub">Tel: </span> {{renter?.tel | number:'':'fr' }} </p>

            <p class="sub" style="margin-bottom: 5px;">Logements: </p>

            <nz-collapse>
              <nz-collapse-panel *ngFor="let home of getHomeDetails(renter?.homesID)" [nzHeader]="home?.name">
                <div *ngIf="home as home">
                  <p style="text-align:right" (click)="openDocList(home)"> Document
                    <i style="border: 0.5px grey solid; padding: 6px; border-radius: 50%; background: gold; color: white;"
                      nz-icon nzType="file"></i>
                  </p>

                  <p><u>Type: </u> {{getHomeTypeString(home.type)}} </p>
                  <p><u>Résidence: </u> {{homeProv.getHouseDetails(home.houseId)?.name}} </p>

                  <p><u>Caution:</u> {{home.cost.Caution | number:'':'fr'}} </p>

                  <p style="margin-bottom: 5px;"><u>Pièces:</u></p>
                  <div style="padding-left: 12px;">
                    <div *ngFor="let room of home.rooms">
                      <p>
                        <span style="color: lightseagreen; font-weight: bold;">{{room.type}}</span>
                        <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                      </p>
                    </div>
                  </div>
                </div>

              </nz-collapse-panel>
            </nz-collapse>

            <!-- <ng-template #openDoc>
              <i style="border: 0.5px grey solid; padding: 6px; border-radius: 50%; background: gold; color: white;" nz-icon nzType="file" (click)="openDocList()"></i>
            </ng-template> -->
          </div>

          <hr>
        </div>
      </div>

      <div *ngIf="currentView==view.mainMenuClosed" class="blank-view">
        <h2>Allez dans le menu principal</h2>
      </div>

      <div *ngIf="currentView==view.repair">
        <div *ngIf="isNewRepair">
          <h1 style="text-align: center; color: brown;">Nouvelle réparation</h1>

          Département
          <nz-select #department style="width: 100%; padding-bottom: 15px;">
            <nz-option *ngFor="let option of this.getRepairType()" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>

          Description du problème
          <textarea nz-input [nzAutosize]="{minRows: 4}" #descRep></textarea>

          <div style="text-align: center; padding-top: 35px;">
            <button nz-button (click)="isNewRepair = ''">Annuler</button> &nbsp;&nbsp;
            <button nz-button nzType="primary"
              (click)="createNewRepair({description: descRep.value, department: department.activatedValue})">Valider</button>
          </div>

        </div>

        <div *ngIf="!isNewRepair">
          <h1 style="text-align: center; color: brown;">Les réparations</h1>

          <div *ngFor="let house of this.homeProv.getHousesDetails(); let index=index">
            <div style="padding-left: 12px;">
              <h1> {{house?.name}}</h1>

              <div style="padding-left: 12px;">
                <p> {{house?.address}} </p>

                <p><u>Logements:</u></p>
                <nz-collapse>
                  <nz-collapse-panel *ngFor="let home of getHomesFromHouse(house)" [nzHeader]="home.name">
                    <div style="text-align: right; padding-bottom: 15px; padding-top: 5px;">
                      <button nz-button nzSize="small" nzType="primary" (click)="isNewRepair = home.id">
                        <i nz-icon nzType="plus"></i>
                        Réparation</button>
                    </div>

                    <p style="margin:0;"><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                    <p style="margin:0;"><u>Locataire:</u> {{userProv.getRenterbyHomeID(home.id)?.lastName}} </p>
                    <p style="margin:0;"><u>Total:</u> {{userProv.getRenterbyHomeID(home.id)?.saldo || 0}} fcfa</p>

                    <br>
                    <nz-collapse>
                      <nz-collapse-panel [nzHeader]="'Réparations'">
                        <div *ngFor="let repId of home.reparations">
                          <p style="text-align: right; font-size: 12px;">{{getReparationDetails(repId).timeStamp |date}}
                          </p>
                          <p>{{getReparationDetails(repId).description}}</p>

                          <p style="font-size: 11px;">
                            <span
                              style="border: solid yellow 0.5px; border-radius: 5px; padding: 4px; background: rgb(45, 238, 212); ">{{getReparationDetails(repId).status}}
                            </span>

                            <span style="padding-left: 15px;">{{getReparationDetails(repId).cost | number:'':'fr'}}
                              fCFA</span>

                            <span style="float: right;">{{getReparationDetails(repId).department}}</span>
                          </p>

                          <hr>
                        </div>
                      </nz-collapse-panel>
                    </nz-collapse>

                  </nz-collapse-panel>
                </nz-collapse>
              </div>
              <hr>

            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentView==view.issue">
        <div *ngIf="isNewRequest">
          <h1 style="text-align: center; color: brown;">Nouvelle réquete</h1>

          <nz-select nzPlaceHolder="Type de réquete">
            <nz-option></nz-option>
          </nz-select>
          <br><br>

          <textarea #nrdescrip nz-input [nzAutosize]="{minRows: 6}"></textarea>

          <div style="text-align: center; padding-top: 35px;">
            <button nz-button (click)="isNewRequest=false">Annuler</button>&nbsp;&nbsp;
            <button nz-button nzType="primary" (click)="addNewRequest(nrdescrip.value)">Valider</button>
          </div>
        </div>

        <div *ngIf="!isNewRequest">
          <h1 style="text-align: center; color: brown;">Mes réquetes</h1>

          <button nz-button nzType="primary" (click)="isNewRequest=true">
            <i nz-icon nzType="plus"></i> Ajouter
          </button>
          <br><br>

          <div *ngFor="let req of homeProv.allRequests">
            <p>{{req.description}} </p>
            <p>
              <nz-tag [nzColor]="req.status">
                {{req.status=='warning'? 'Ouvert' : req.status=='success' ? 'Validé' : req.status=='processing'? 'En cours' : 'Rejeté' }}
              </nz-tag>

              <span style="float: right;">{{req.timeStamp | date}}</span>
            </p>

            <hr>
          </div>
        </div>

      </div>
    </div>

    <div>
      <div class="content2" *ngIf="currentView==view.document && !dataprov.showTopMenu">
        <app-doc></app-doc>
      </div>
    </div>

    <br><br><br>
  </div>
</div>
