.landlord {
  position: relative;
  font-family: Montserrat;

  .content {
    margin-left: 65px;
    margin-right: 65px;

    nz-range-picker {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }

  .mobile {
    .content {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 80px;
      padding: 12px;

      .new-standard {
        padding-top: 35px;
      }
    }
  }
}
