<div class="landlord noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <app-header [menuList]="dataprov.landlordMenu" (menuSeleted)="topMenuSelected($event)"
      (toogleMenu)="toogleMenu($event)">
    </app-header>

    <div class="content">
      <div *ngIf="currentView==view.account">
        <div style="text-align: center; padding-bottom: 8px;">
          <div nz-icon nzType="user" style="font-size: 40px;"></div>
          <h1 style="border-bottom:  solid 1px black;">Compte
            {{userLib?.currentUser?.type == userEnum.landlord ? 'Bailleur' : userLib?.currentUser?.type == userEnum.renter ? 'Locataire' : ''}}
          </h1>
        </div>

        <div style="text-align: center; padding-bottom: 22px;">
          <button nz-button (click)="userLib.signOut()">Log out</button>
        </div>

        <p><b><u>Nom:</u></b> {{userLib.currentUser?.lastName}} {{userLib.currentUser?.firstName}} </p>
        <p><b><u>Email:</u></b> {{userLib.currentUser?.email}} </p>
        <p><b><u>Adresse:</u></b> {{userLib.currentUser?.addres}} </p>
        <p><b><u>Tel:</u></b> {{userLib.currentUser?.tel}} </p>

      </div>

      <div *ngIf="currentView==view.home">
        <div style="text-align: center; padding-bottom: 24px;">
          <div nz-icon nzType="home" style="font-size: 40px;"></div>
          <h1>Logement</h1>
        </div>

        <p><b><u>Bailleur:</u></b> {{userLib.currentUser?.lastName}} {{userLib.currentUser?.firstName}} </p>
        <!-- <p>asdf {{getHomeDetails()}}</p> -->

      </div>

      <div *ngIf="currentView==view.bill">
        bill
      </div>

      <div *ngIf="currentView==view.saldo">
        saldo
      </div>

      <div *ngIf="currentView==view.house">
        <div *ngFor="let house of getHouseDetails(); let index=index">
          <h2>Résidence {{index+1}} </h2>

          <div style="padding-left: 12px;">
            <p><u>Nom:</u> {{house?.name}}</p>
            <p><u>Adresse:</u> {{house?.address}} </p>

            <p><u>Équipements:</u>
              <span *ngFor="let equip of house?.equipment"> {{equip}}, </span>
            </p>

            <p><u>Logements:</u></p>
            <nz-collapse>
              <nz-collapse-panel *ngFor="let home of getHomesFromHouse(house)" [nzHeader]="home.name">
                <p><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                <p style="margin:0;"><u>Loyer:</u> {{home.cost.Caution}} </p>

                <p><u>Pièces:</u></p>
                <div style="padding-left: 12px;">
                  <div *ngFor="let room of home.rooms">
                    <p>{{room.type}}:
                      <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                    </p>
                  </div>

                </div>
              </nz-collapse-panel>
            </nz-collapse>

          </div>

        </div>
      </div>

      <div *ngIf="currentView==view.renter">
        <div *ngFor="let renter of getRenterDetails()">
          <h1>{{renter?.lastName}} {{renter?.firstName}}</h1>

          <div style="padding-left: 15px;">
            <p><span class="sub">Adresse</span> {{renter?.addres}} </p>
            <p><span class="sub">Tel</span> {{renter?.tel}} </p>

            <p class="sub">Logement </p>

            <nz-collapse>
              <nz-collapse-panel *ngFor="let home of getHomeDetails(renter?.homesID)" [nzHeader]="home?.name">
                <p><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                <p style="margin:0;"><u>Caution:</u> {{home.cost.Caution}} </p>

                <p><u>Pièces:</u></p>
                <div style="padding-left: 12px;">
                  <div *ngFor="let room of home.rooms">
                    <p><b>{{room.type}}</b>:
                      <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                    </p>
                  </div>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>

          <hr>
        </div>
      </div>

      <div *ngIf="currentView==view.mainMenuClosed" class="blank-view">
        <h2>Allez dans le menu principal</h2>
      </div>
    </div>
  </div>
</div>
