.landlord {
  position: relative;
  font-family: Montserrat;

  .content1 {
    margin-left: 65px;
    margin-right: 65px;

    nz-range-picker {
      font-size: 25px;
      margin-bottom: 25px;
    }

    .blank-view {
      text-align: center;
    }

    .sub {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .mobile {
    .content1 {
      margin-left: 5px;
      margin-right: 5px;
      padding: 12px;
      padding-top: 80px;
    }

    .content2 {
      margin: 5px;
      padding: 0;
    }
  }
}
