<div class="landlord noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <app-header [menuList]="dataprov.landlordMenu" (menuSeleted)="topMenuSelected($event)" (toogleMenu)="toogleMenu()">
    </app-header>

    <div class="content">
      <div *ngIf="currentView==view.account">
        <div style="text-align: center; padding-bottom: 24px;">
          <div nz-icon nzType="user" style="font-size: 40px;"></div>
          <h1>Compte</h1>
        </div>

        <p><b><u>Nom:</u></b> {{userLib.currentUser?.lastName}} {{userLib.currentUser?.firstName}} </p>
        <p><b><u>Email:</u></b> {{userLib.currentUser?.email}} </p>
        <p><b><u>Adresse:</u></b> {{userLib.currentUser?.addres}} </p>
        <p><b><u>Tel:</u></b> {{userLib.currentUser?.tel}} </p>
        <p><b><u>Contrat:</u></b> </p>

      </div>

      <div *ngIf="currentView==view.home">
        <div style="text-align: center; padding-bottom: 24px;">
          <div nz-icon nzType="home" style="font-size: 40px;"></div>
          <h1>Logement</h1>
        </div>

        <p><b><u>Bailleur:</u></b> {{userLib.currentUser?.lastName}} {{userLib.currentUser?.firstName}} </p>
        <p>asdf {{getHomeDetails()?.name}}</p>

      </div>

      <div *ngIf="currentView==view.bill">
        bill
      </div>

      <div *ngIf="currentView==view.saldo">
        saldo
      </div>

      <div *ngIf="currentView==view.houses">
        <div *ngFor="let house of getHouseDetails(); let index=index">
          <h2>Résidence {{index+1}} </h2>

          <div style="padding-left: 12px;">
            <p><u>Nom:</u> {{house?.name}}</p>
            <p><u>Adresse:</u> {{house.address}} </p>

            <p><u>Équipements:</u>
              <span *ngFor="let equip of house.equipment"> {{equip}}, </span>
            </p>

            <p><u>Logements:</u></p>
            <nz-collapse>
              <nz-collapse-panel *ngFor="let home of getHomeDetails(house)" [nzHeader]="home.name">
                <p><u>Type:</u> {{getHomeTypeString(home.type)}} </p>

                <p style="margin:0;"><u>Loyer:</u> {{home.cost.Caution}} </p>

                <p><u>Pièces:</u></p>
                <div style="padding-left: 12px;">
                  <div *ngFor="let room of home.rooms">
                    <p>{{room.type}}:
                      <span *ngFor="let equip of room.equipment">{{equip}} </span>
                    </p>
                  </div>

                </div>
              </nz-collapse-panel>
            </nz-collapse>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
