.test {
  .content {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    align-items: center;
  }

  input[type='checkbox'] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    margin-bottom: 10px;
  }

  .checkboxtext {
    padding: 18px;
    line-height: 30px;
    font-size: 22px;
    color: black;
  }

  .course {
    background: #f3b711;
    margin-bottom: 15px;
  }

  .field1 {
    h2 {
      color: rgb(143, 6, 63);
    }

    h1 {
      font-size: 38px;
    }
  }

  h1 {
    color: white;
  }

}

.desktop {
  .field1 {
    margin-right: 55px;
    max-width: 500px;
    text-align: left;

    h2 {
      line-height: 32px;
      letter-spacing: 0.7px;
    }
  }

  .field2 {
    max-width: 600px;
    min-width: 600px;
    padding-right: 0;
    margin-right: 0;
  }

  .submit-btn {
    font-size: 45px;
    height: 100px;
    min-width: 420px;
    border-radius: 15px;
  }
}

.mobile {
  .field1 {
    padding-top: 5px;

    h1 {
      margin-top: 0px;
    }
  }

  .submit-btn {
    width: 250px;
    border-radius: 15px;
  }
}
