<div class="test">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <div style="text-align: center; color: black; padding-top: 25px;">
      <h2 style="font-size: 24px;">Kleiner Einstufungstest</h2>
      <h3>Markieren Sie Ihre aktuellen Kenntnisse</h3>
    </div>

    <div class="content">
      <div *ngFor="let item of test">
        <tr class="flex course">
          <td class="field1"
            [style.maxWidth]="utilsProv.screenSize=='MD' ? '300px' : utilsProv.screenSize=='SM' ? '1300px' : '500px'">
            <h1>{{item.title}}</h1>
            <h2>{{item.description}} </h2>
          </td>

          <td class="field2">
            <h2>Ich kann zum Beispiel</h2>
            <div *ngFor="let quetion of item.questions" style="padding-bottom: 15px;">
              <input type="checkbox" [(ngModel)]="quetion.value" />
              <span class="checkboxtext">{{quetion.label}}</span>
            </div>
          </td>

        </tr>
      </div>
    </div>

    <div style="text-align: center; padding-top: 15px; padding-bottom: 35px;">
      <button nz-button nzSize="large" nzType="primary" class="submit-btn" (click)="check()">Niveau Prüfen</button>
    </div>
  </div>

</div>
