<div class="test">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <!-- <div class="header">
      <tr class="flex">
        <td style="min-width: 80%;">
          <h1>Learn German Fast</h1>
        </td>

        <td style="text-align: right; width: 100%;">
          <img src="assets/imgs/d-logo.png" alt="" height="60">
        </td>
      </tr>
    </div> -->

    <nz-header>
      <div class="navbar">
        <h1>Learn German Fast</h1>
      </div>
    </nz-header>

    <div *ngFor="let item of test">
      <tr class="flex course">
        <td class="field1" [style.maxWidth]="utilsProv.screenSize=='MD' ? '300px' : utilsProv.screenSize=='SM' ? '1300px' : '500px'">
          <h1>{{item.title}}</h1>
          <h2>{{item.description}} </h2>
        </td>

        <td class="field2">
          <h2>Ich kann zum Beispiel</h2>
          <div *ngFor="let quetion of item.questions" style="padding-bottom: 15px;">
            <input type="checkbox" [(ngModel)]="quetion.value" />
            <span class="checkboxtext">{{quetion.label}}</span>
          </div>
        </td>

      </tr>


    </div>

  </div>


</div>
