<div [class.desktop]="utilsProv.isDesktop" [class.mobile]="utilsProv.isMobile">
  <tr class="admin-forms">
    <td class="left-panel" style="min-width: 30%;">
      <div *ngFor="let control of controlArray">
        <div *ngIf="['text', 'number',  'email'].includes(control.type)">
          {{control.title}}
          <input nz-input placeholder="" [(ngModel)]="control.value" [class]="control.error ? 'validation-error' : ''"
            [type]="control.type" [id]="control.id ? control.id : control.index"
            [placeholder]="control.error ? 'Verifier cette entrée' : ''" />
        </div>

        <div *ngIf="control.type=='date-range'">
          {{control.title}} <br>
          <nz-range-picker nzSize="small" [nzFormat]="'d/MM/yyyy'" [(ngModel)]="control.value"
            [class]="control.error ? 'validation-error' : ''" [nzShowTime]="{ nzFormat: 'HH' }"
            (ngModelChange)="getTimeStamp(control.index, $event)" nzInputReadOnly>
          </nz-range-picker>
        </div>

        <div *ngIf="control.type=='address'">
          <google-maps (onPlaceAvailable)="getAddress($event)"></google-maps>
        </div>

        <div *ngIf="control.type=='autocomplete'">
          <div style="padding-top: 15px;">
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput([view.house].includes(currentView)? 'user' : '', $event)"
              [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let option of autocompleteList1"
                [nzValue]="[view.house, view.renter].includes(currentView)? option.id :  option"
                [nzLabel]="[view.house].includes(currentView)? option.lastName+' '+ option.firstName : currentView==view.renter? option?.name : option">

                <p *ngIf="[view.house].includes(currentView)">{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>

                <p *ngIf="currentView==view.home">{{option}} </p>

                <p *ngIf="currentView==view.renter">{{option?.name}} <br>
                </p>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="control.type=='autocomplete2'">
          <div>
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput([view.renter].includes(currentView)? 'user' : '', $event)"
              [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let option of autocompleteList2"
                [nzLabel]="[view.renter].includes(currentView)? option.lastName+' '+ option.firstName :  option?.name"
                [nzValue]="[view.renter, view.home].includes(currentView)? option.id : option">

                <p *ngIf="currentView!=view.renter"><b>{{option?.name}}</b> <br>
                  <span style="color: rgb(85, 80, 80);">{{option.address}} </span>
                </p>

                <p *ngIf="[view.renter].includes(currentView)">{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="control.type=='autocomplete3'">
          <div>
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto3" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput([view.house].includes(currentView)? 'user' : '', $event)"
              [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto3>
              <nz-auto-option *ngFor="let option of autocompleteList3"
                [nzValue]="[view.home].includes(currentView)? option.id :  option"
                [nzLabel]="[view.home].includes(currentView)? option.lastName+' '+ option.firstName : currentView==view.renter? option.name : option">

                <p *ngIf="[view.home].includes(currentView)">{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>

              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="control.type=='checkbox-group'">
          <p style="margin-top: 15px; margin-bottom: 5px;">{{control.title}}</p>

          <nz-checkbox-wrapper style="padding-bottom: 15px;" (nzOnChange)="houseEquipmentSelected($event)">
            <div nz-row>
              <div nz-col nzSpan="12" *ngFor="let option of getHouseEquipmentList()">
                <label nz-checkbox [nzChecked]="houseEquipments?.includes(option)" [nzValue]="option">{{option}}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>

        <div *ngIf="control.type=='phone'">
          {{control.title}}
          <tr style="display: flex;">
            <input nz-input style="width: 80px; margin-right: 3px;" [(ngModel)]="telCode"  />

            <input nz-input placeholder="" [(ngModel)]="control.value" [class]="control.error ? 'validation-error' : ''"
              type="number" [id]="control.id ? control.id : control.index"
              [placeholder]="control.error ? 'Verifier cette entrée' : ''" />
          </tr>

        </div>

        <div class="add-homes" *ngIf="control.title=='Pièces*'">
          <div class="action-btn" (click)="addRoom()">
            <span>+</span>
          </div>

          <p style="padding-top: 15px; font-weight: bold;">{{control.title}} </p>

          <div class="new-room">
            <div *ngFor="let room of rooms; let index=index">

              <p style="color: brown;">Pièce Nr. {{index+1}} </p>
              <hr>

              Type de la pièce
              <input nz-input [nzAutocomplete]="typeRoom" style="font-size: 15px;" [(ngModel)]="room.type"
                (ngModelChange)="filterInput('', $event)" [class]="control.error ? 'validation-error' : ''" />

              <nz-autocomplete #typeRoom>
                <nz-auto-option *ngFor="let option of getRoomTypeList()" [nzLabel]="option" [nzValue]="option">
                  <p>{{ option}} </p>
                </nz-auto-option>
              </nz-autocomplete>

              <div style="padding-top: 10px;"></div>
              Superficie de la pièce
              <input nz-input type="number" [(ngModel)]="room.surface">

              Équipements de la pièce
              <nz-checkbox-wrapper style="padding-top: 15px; padding-bottom: 15px;" (nzOnChange)="room.equipment=$event"
                [class]="control.error ? 'validation-error' : ''">
                <div nz-row>
                  <div nz-col nzSpan="12" *ngFor="let option of getRoomEquipmentList()">
                    <label nz-checkbox [nzValue]="option">{{option}}</label>
                  </div>
                </div>
              </nz-checkbox-wrapper>
            </div>

          </div>
        </div>
      </div>
    </td>

    <td class="summary" *ngIf="controlArray.length && showSummary">
      <h1 style="text-align: center;">Résumé</h1>
      <br>

      <div *ngFor="let control of controlArray">
        <div nz-row style="padding-left: 25px;">
          <div nz-col nzSpan="8" style="min-width: 120px; max-width: 150px;">
            <p><b>{{control.title}}:</b> </p>
          </div>

          <div nz-col style="padding-left: 12px; width: 60%;">
            <div *ngIf="control.type == 'date-range' && control.value">
              <p>{{control?.value[0] | date:'d/MM/yyy'}} - {{control?.value[1] | date:'d/MM/yyy'}} </p>
            </div>

            <div *ngIf="control.title == 'Bailleur'">
              <p><u>Nom:</u> {{getUserFullName(control.value)}} </p>
              <p><u>Email:</u> {{getUserEmail(control.value)}} </p>
            </div>

            <div *ngIf="control.title=='Adresse'">
              <p>{{control.value}} </p>
            </div>

            <div class="summary-checkbox-group" *ngIf="control.type == 'checkbox-group'">
              <div *ngFor="let item of houseEquipments">{{item}} </div>
            </div>

            <div
              *ngIf="!['date-range', 'checkbox-group'].includes(control.type) && !['Bailleur'].includes(control.title)">
              <span
                *ngIf="[view.house, view.home].includes(currentView) && ['Proprietaire*', 'Bailleur*'].includes(control.title)">{{getUserFullName(control.value)}}</span>
              <span *ngIf="currentView==view.house && control.title!='Proprietaire*'">{{control.value}} </span>
              <span
                *ngIf="![view.house, view.renter].includes(currentView) && !['Bailleur*', 'Résidence*', 'Pièces*', 'Adresse'].includes(control.title)">{{control.value}}
              </span>
              <span *ngIf="control.title=='Résidence*'"> {{getHouseDetails(control.value)?.name}} </span>

              <span
                *ngIf="currentView==view.renter && control.title=='Logement*'">{{geHomeDetails(control.value)?.name}}
              </span>
              <span *ngIf="currentView==view.renter && control.title!='Logement*'">{{control.value}} </span>
            </div>

            <div *ngIf="![view.house, view.renter, view.landlord, view.home].includes(currentView)">{{control.value}}
            </div>

            <div *ngIf="control.title=='Pièces*'">
              <p>Nombre: {{rooms.length}} </p>
              <div *ngFor="let room of rooms">
                <b>{{room.type}} </b> <br>
                <u style="font-size: 12px;">Equip:</u>
                <div style="padding-left: 8px; font-size: 12px;" *ngFor="let equip of room.equipment">{{equip}} </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div style="text-align: center; padding-bottom: 25px;">
        <button nz-button nzSize="large" class="submit-form2" (click)="done.emit(); scrollTop()">Annuler</button>
        <button nz-button nzSize="large" class="submit-form" (click)="submit()">{{!isEdit? 'Valider' : 'Actualiser'}}
        </button>
      </div>

    </td>
  </tr>

  <div *ngIf="!showSummary" style="text-align: center; margin-bottom: 25px; padding-top: 25px;">
    <button nz-button nzSize="large" (click)="done.emit(); scrollTop(); ">Annuler</button>
    <button nz-button nzSize="large" class="new-home-next-btn" nzType="primary" (click)="gotoSummary()">Suivant</button>
  </div>

</div>
