.admin-forms {
  background: #fbfbfb;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .summary {
    background: rgba(245, 222, 179, 0.397);
    color: black;
    font-size: larger;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .submit-form {
    width: 200px;
    margin-top: 35px;
    background: orange;
    color: black;
  }

  .submit-form2 {
    width: 200px;
    margin-top: 30px;
    background: gainsboro;
    color: black;
    margin-right: 20px;
  }

  .validation-error{
    border-color: red;
  }
}

.desktop {
  .admin-forms {
    padding: 30px;
    padding-bottom: 25px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    min-width: 600px;
  }

  .left-panel {
    input {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }

  .summary {
    min-width: 50%;
    max-width: 50%;
    border-radius: 20px;
    padding: 15px;

     td {
      padding-left: 25px;
    }
  }
}

.mobile {
  .left-panel {
    input {
      margin-bottom: 10px;
    }
  }

}
