.admin-forms {
  // background: #fbfbfb;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;

  .summary {
    background: rgba(245, 222, 179, 0.397);
    color: black;
    font-size: larger;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }

  .submit-form {
    width: 200px;
    margin-top: 35px;
    background: orange;
    color: black;
  }

  .submit-form2 {
    width: 200px;
    margin-top: 30px;
    background: gainsboro;
    color: black;
  }

  .validation-error {
    border-color: red;
  }

  .left-panel {
    nz-range-picker {
      font-size: 20px;
    }
  }

  .summary-checkbox-group {
    padding-bottom: 12px;
  }

  .action-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: tomato;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 999999;
  }

  .action-btn span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }

  .new-room {
    padding: 5px 15px;

    input {
      z-index: 0;
    }
  }

  .add-homes{
    max-width: 400px;
  }
}

.desktop {
  .left-panel {
    padding: 30px 90px 25px 90px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;

    input {
      font-size: 15px;
      margin-bottom: 25px;
    }
  }

  .new-home-next-btn {
    margin-left: 20px;
  }

  .submit-form2 {
    margin-right: 20px;
  }

  .summary {
    min-width: 50%;
    max-width: 50%;
    border-radius: 20px;
    padding: 15px;

    td {
      padding-left: 25px;
    }
  }
}

.mobile {
  .left-panel {
    input {
      margin-bottom: 10px;
    }
  }

  .new-home-next-btn {
    margin-left: 20px;
  }
}
