<div [class.desktop]="utilsProv.isDesktop" [class.mobile]="utilsProv.isMobile">
  <tr class="admin-forms">
    <td class="left-panel" style="min-width: 30%;">
      <div *ngFor="let control of controlArray">
        <div *ngIf="['text', 'number',  'email'].includes(control.type)">
          {{control.title}}
          <input nz-input placeholder="" [(ngModel)]="control.value" [class]="control.error ? 'validation-error' : ''"
            [type]="control.type" [id]="control.id ? control.id : control.index"
            [placeholder]="control.error ? 'Verifier cette entrée' : ''" />
        </div>

        <div *ngIf="control.type=='date-range'">
          {{control.title}} <br>
          <nz-range-picker nzSize="small" [nzFormat]="'d/MM/yyyy'" [(ngModel)]="control.value"
            [class]="control.error ? 'validation-error' : ''" [nzShowTime]="{ nzFormat: 'HH' }"
            (ngModelChange)="getTimeStamp(control.index, $event)" nzInputReadOnly>
          </nz-range-picker>
        </div>

        <div *ngIf="control.type=='address'">
          <google-maps (onPlaceAvailable)="getAddress($event)"></google-maps>
        </div>

        <div *ngIf="control.type=='autocomplete'">
          <div style="padding-top: 15px;">
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput(currentView==view.renter? 'user' : '', $event)"
              [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let option of autocompleteList1"
                [nzLabel]="currentView==view.renter? option.lastName+' '+ option.firstName : option"
                [nzValue]="currentView==view.renter? option.id : option">

                <p *ngIf="currentView==view.renter">{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>

                <p *ngIf="currentView==view.home">{{option}} </p>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="control.type=='checkbox-group'">
          <p style="margin-top: 15px; margin-bottom: 5px;">{{control.title}}</p>

          <nz-checkbox-wrapper style="padding-bottom: 15px;" (nzOnChange)="houseEquipmentSelected($event)">
            <div nz-row>
              <div nz-col nzSpan="12" *ngFor="let option of control.value">
                <label nz-checkbox [nzValue]="option">{{option}}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>

        <div class="add-homes" *ngIf="control.title=='Pièces*'">
          <div class="action-btn" (click)="addRoom()">
            <span>+</span>
          </div>

          <p style="padding-top: 15px; font-weight: bold;">{{control.title}} </p>

          <div class="new-room">
            <div *ngFor="let room of rooms; let index=index">

              <p style="color: brown;">Pièce Nr. {{index+1}} </p>
              <hr>

              Type de la pièce
              <input nz-input [nzAutocomplete]="typeRoom" style="font-size: 15px;" [(ngModel)]="room.type"
                (ngModelChange)="filterInput('', $event)" [class]="control.error ? 'validation-error' : ''" />

              <nz-autocomplete #typeRoom>
                <nz-auto-option *ngFor="let option of getRoomTypeList()" [nzLabel]="option" [nzValue]="option">
                  <p>{{ option}} </p>
                </nz-auto-option>
              </nz-autocomplete>

              <div style="padding-top: 10px;"></div>
              Superficie de la pièce
              <input nz-input type="number" [(ngModel)]="room.surface">

              Équipements de la pièce
              <nz-checkbox-wrapper style="padding-top: 15px; padding-bottom: 15px;" (nzOnChange)="room.equipment=$event"
                [class]="control.error ? 'validation-error' : ''">
                <div nz-row>
                  <div nz-col nzSpan="12" *ngFor="let option of getRoomEquipmentList()">
                    <label nz-checkbox [nzValue]="option">{{option}}</label>
                  </div>
                </div>
              </nz-checkbox-wrapper>

              Caution
              <input nz-input type="number" [(ngModel)]="room.cost.Caution" />

              Tarif mensuel
              <input nz-input type="number" [(ngModel)]="room.cost['Tarif mensuel']" />

              Avance Checkin
              <input nz-input type="number" [(ngModel)]="room.cost['Avance Checkin']" />

              Tarif eau
              <input nz-input type="number" [(ngModel)]="room.cost['Tarif eau']" />

              Tarif électricité
              <input nz-input type="number" [(ngModel)]="room.cost['Tarif électricité']" />
            </div>

          </div>
        </div>
      </div>
    </td>

    <td class="summary" *ngIf="controlArray.length && showSummary">
      <h1 style="text-align: center;">Résumé</h1>
      <br>

      <div *ngFor="let control of controlArray">
        <div nz-row style="padding-left: 25px;">
          <div nz-col style="min-width: 120px;">
            <p><b>{{control.title}}:</b> </p>
          </div>

          <div nz-col>
            <div *ngIf="control.type == 'date-range' && control.value">
              <p>{{control?.value[0] | date:'d/MM/yyy'}} - {{control?.value[1] | date:'d/MM/yyy'}} </p>
            </div>

            <div *ngIf="control.title == 'Bailleur'">
              <p><u>Nom:</u> {{getUserFullName(control.value)}} </p>
              <p><u>Email:</u> {{getUserEmail(control.value)}} </p>
            </div>

            <div *ngIf="control.type == 'checkbox-group'">
              <div *ngFor="let item of houseEquipments">{{item}} </div>
            </div>

            <div
              *ngIf="!['date-range', 'checkbox-group'].includes(control.type) && !['Bailleur'].includes(control.title)">
              <p>{{control.value}}</p>
            </div>

            <!-- <div *ngIf="control.title=='Pièces*'">

            </div> -->

          </div>
        </div>
      </div>

      <div style="text-align: center;">
        <button nz-button nzSize="large" class="submit-form2" (click)="done.emit()">Annuler</button>

        <button nz-button nzSize="large" class="submit-form" (click)="submit()">{{!isEdit? 'Valider' : 'Actualiser'}}
        </button>
      </div>

    </td>
  </tr>

  <div *ngIf="!showSummary" style="text-align: center; margin-bottom: 25px; padding-top: 25px;">
    <button nz-button nzSize="large" (click)="done.emit()">Annuler</button>
    <button nz-button nzSize="large" class="new-home-next-btn" nzType="primary" (click)="gotoSummary()">Suivant</button>
  </div>

</div>
