<div [class.desktop]="utilsProv.isDesktop" [class.mobile]="utilsProv.isMobile">
  <tr class="admin-forms">
    <td class="left-panel" style="min-width: 30%;">
      <div *ngFor="let control of controlArray">
        <div *ngIf="['text', 'number',  'email'].includes(control.type)">
          {{control.title}}
          <input nz-input placeholder="" [(ngModel)]="control.value" [class]="control.error ? 'validation-error' : ''"
            [type]="control.type" [id]="control.id ? control.id : control.index"
            [placeholder]="control.error ? 'Verifier cette entrée' : ''" />
        </div>

        <div *ngIf="control.type=='date-range'">
          {{control.title}} <br>
          <nz-range-picker nzSize="small" [nzFormat]="'d/MM/yyyy'" [(ngModel)]="control.value"
            [class]="control.error ? 'validation-error' : ''" [nzShowTime]="{ nzFormat: 'HH' }"
            (ngModelChange)="getTimeStamp(control.index, $event)" nzInputReadOnly>
          </nz-range-picker>
        </div>

        <div *ngIf="control.type=='autocomplete'">
          <div style="padding-top: 15px;">
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput('user', $event)" [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let option of searchLandlord" [nzLabel]="option.lastName+' '+ option.firstName"
                [nzValue]="option.id">
                <p>{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="control.type=='address'">
          <google-maps (onPlaceAvailable)="getAddress($event)"></google-maps>
        </div>

        <div *ngIf="control.type=='checkbox-group'">
          <nz-checkbox-wrapper style="padding-top: 15px; padding-bottom: 15px;"
            (nzOnChange)="houseEquipmentSelected($event)">
            <div nz-row>
              <div nz-col nzSpan="12" *ngFor="let option of control.value">
                <label nz-checkbox [nzValue]="option">{{option}}</label>
              </div>
            </div>
          </nz-checkbox-wrapper>
        </div>

        <div class="add-homes" *ngIf="control.title=='Logements*'">
          <div style="padding-top: 15px;">
            {{control.title}}
            <input nz-input [nzAutocomplete]="auto" style="font-size: 15px;" [(ngModel)]="control.value"
              (ngModelChange)="filterInput('home', $event)" [class]="control.error ? 'validation-error' : ''" />

            <nz-autocomplete #auto>
              <nz-auto-option *ngFor="let option of searchLandlord" [nzLabel]="option.lastName+' '+ option.firstName"
                [nzValue]="option.id">
                <p>{{ option.lastName }} {{option.firstName}}
                  <br>
                  <span style="color: gray; padding-left: 25px;">{{ option.email }}</span>
                </p>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </div>
      </div>
    </td>

    <td class="summary" *ngIf="controlArray.length">
      <h1 style="text-align: center;">Résumé</h1>
      <br>

      <div *ngFor="let control of controlArray">
        <div nz-row style="padding-left: 25px;">
          <div nz-col style="min-width: 120px;">
            <p><b>{{control.title}}:</b> </p>
          </div>

          <div nz-col>
            <div *ngIf="control.type == 'date-range' && control.value">
              <p>{{control?.value[0] | date:'d/MM/yyy'}} - {{control?.value[1] | date:'d/MM/yyy'}} </p>
            </div>

            <div *ngIf="control.title == 'Bailleur'">
              <p><u>Nom:</u> {{getUserFullName(control.value)}} </p>
              <p><u>Email:</u> {{getUserEmail(control.value)}} </p>
            </div>

            <div *ngIf="control.type == 'checkbox-group'">
              <div *ngFor="let item of houseEquipments">{{item}} </div>
            </div>

            <div
              *ngIf="!['date-range', 'checkbox-group'].includes(control.type) && !['Bailleur'].includes(control.title)">
              <p>{{control.value}}</p>
            </div>

          </div>
        </div>
      </div>

      <div style="text-align: center;">
        <button nz-button nzSize="large" class="submit-form2" (click)="done.emit()">Annuler</button>

        <button nz-button nzSize="large" class="submit-form" (click)="submit()">{{!isEdit? 'Valider' : 'Actualiser'}}
        </button>
      </div>

    </td>
  </tr>

</div>
