.app {
  height: 100vh;

  .footer {
    height: 110px;
    background: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }

  .mobile {
    .footer {
      height: 80px;
    }
  }
}
