<div class="admin-generic-listing">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <tr class="flex top-bar">
      <td class="search-bar" *ngIf="userLib.allUsers?.length">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input nz-input placeholder="search by name" (input)="search($event.target.value)" />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </td>

      <td class="create-btn">
        <button nz-button [nzSize]="utilsProv.isMobile? 'small' :'large'" nzType="primary" (click)="showForm.emit()"><i
            nz-icon nzType="plus"></i>
          Nouveau</button>
      </td>
    </tr>

    <div class="user-list">
      <div *ngFor="let user of searchUsers; let index=index">
        <div *ngIf="(user.type==0 && currentView==view.landlord) || (user.type==1 && currentView==view.renter)">
          <p><b>{{user.lastName}} {{user.firstName}}</b> <br>
            <span><u>Email:</u> {{user.email}} ; <u>Tel:</u> {{user.tel}}</span> <br>
            <span style="color: #575151;"><u>Mot de passe:</u> {{user.adminPass}} </span> <br>
            <span style="color: #575151;"><u>Adresse:</u> {{user.addres}} </span>

            <span *ngIf="utilsProv.isDesktop" class="edit-btn"
              (click)="editUser.emit({user: user, index:index})">Modifier</span>
          </p>

          <p *ngIf="utilsProv.isMobile">
            <span class="edit-btn" (click)="editUser.emit({user: user, index:index})">Modifier</span>
            <span class="delete-btn" (click)="1">Modifier</span>
          </p>
          <hr>
        </div>
      </div>

      <div *ngIf="!searchUsers.length" style="text-align: center; padding: 35px;">Il n'ya pas de
        {{currentView==view.landlord? 'bailleurs' : 'locataires'}} enrégistrer !
      </div>
    </div>
  </div>

</div>
