<div class="admin-generic-listing">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <tr class="flex top-bar">
      <td class="search-bar" *ngIf="userLib.allUsers?.length">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input nz-input placeholder="chercher par nom" (input)="search($event.target.value)" />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </td>

      <td class="create-btn">
        <button nz-button [nzSize]="utilsProv.isMobile? 'small' :'large'" nzType="primary" (click)="showForm.emit()"><i
            nz-icon nzType="plus"></i>
          Nouveau</button>
      </td>
    </tr>

    <div class="user-list">
      <br>
      <div *ngFor="let element of displayList.reverse(); let index=index">
        <div *ngIf="(element.type==0 && currentView==view.landlord) || (element.type==1 && currentView==view.renter)">
          <h3><b>{{element.lastName}} {{element.firstName}}</b></h3>

          <div class="pl">
            <p><u><b>Email:</b></u> {{element.email}}</p>

            <nz-collapse style="margin-top: 12px;" [nzBordered]="false">
              <nz-collapse-panel [nzHeader]="'Show more ...'" [nzActive]="false">
                <p><u><b>Tel:</b></u> {{element.tel}}</p>

                <p><u><b>Adresse:</b></u> {{element.addres}}</p>

                <div *ngIf="currentView==view.landlord">
                  <b style="font-size: 16px;"><u>Résidences:</u></b>
                  <p style="font-size: 14px; padding-left: 12px;" *ngFor="let house of element.houses; let index=index">
                    {{index+1}}. {{getHouseDetails(house)}}
                  </p>
                </div>

                <div style="font-size: 14px;" *ngIf="currentView==view.renter">
                  <p><u><b>Bailleur: </b></u> {{getlandLordName(element.landlordId)}} </p>
                  <p><u><b>Résidence: </b></u> {{getHomeDetails(element.homes)?.house?.name}} </p>
                  <p><u><b>Logement: </b></u> {{getHomeDetails(element.homes)?.home?.name}} </p>
                </div>

                <p style="color: #575151; padding-top: 12px;"><u><b>Mot de passe:</b></u> {{element.adminPass}} </p>
                <p><u><b>Date de création:</b></u> {{element.timeStamp |date}} </p>

                <div *ngIf="currentView==view.landlord">
                  <u style="font-size: 16px;"><b>Locataires: </b></u>
                  <p style="font-size: 14px; padding-left: 12px;"
                    *ngFor="let renter of getRenterList(element); let index=index">
                    {{index+1}}. {{renter?.lastName}} {{renter?.firstName}} / {{renter?.tel}} </p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>

          <p style="padding-top: 25px; text-align: center;">
            <button class="add-btn" (click)="add.emit()" nz-button nzType="primary" *ngIf="currentView==view.landlord">
              <i nz-icon nzType="plus"></i>
              {{getActionName()}}
            </button>

            <button class="edit-btn" (click)="editUser.emit({user: element, index:index})" nz-button nzType="primary">
              <i nz-icon nzType="edit"></i>{{currentView==view.renter? 'Modifier' : 'M'}}
            </button>

            <button nz-popconfirm nzPopconfirmTitle="Éffacer définitevement ?" (nzOnConfirm)="deleteUser(element)"
              (nzOnCancel)="1" nzPopconfirmPlacement="top" nz-button nzType="danger" class="delete-btn">
              <i nz-icon nzType="delete"></i>{{currentView==view.renter? 'Supprimer' : 'S'}}
            </button>
          </p>
          <hr>
          <br>
        </div>

        <div *ngIf="currentView == view.house">
          <h3>{{element.name}}</h3>

          <div class="pl">
            <p><b><u>Adresse:</u></b> {{element.address}} </p>
            <p><u><b>Proprietaire:</b></u> &nbsp; {{getUserDetails(element.ownerId)}} </p>

            <p style="padding-bottom: 2px; margin-bottom: 2px"><b><u>Equipements:</u></b> </p>
            <p style="padding-top: 2px; margin-top: 2px; font-size: 13px; color: black;">
              <span style="font-size: 13px; color: black;" *ngFor="let equip of element.equipment">{{equip}}, </span>
            </p>

            <nz-collapse style="margin-top: 12px;" nzBordered="false">
              <nz-collapse-panel nzHeader="Show more ..." [nzActive]="false">
                <u><b>Date de création:</b></u>&nbsp; {{element.timeStamp |date}}<br><br>

                <u><b>Logements</b></u>
                <p *ngFor="let home of getHomeList(element); let index=index">{{index+1}}. {{home.name}} /
                  {{getHomeType(home.type)}}
                  / {{home.rooms?.length}} Pièces</p>
              </nz-collapse-panel>
            </nz-collapse>
            <!-- <span *ngIf="utilsProv.isDesktop" class="edit-btn"
              (click)="editUser.emit({user: user, index:index})">Modifier</span> -->

            <p style="padding-top: 25px; padding-bottom: 35px; text-align: center;" *ngIf="utilsProv.isMobile">
              <!-- <span class="edit-btn" (click)="editUser.emit({house: element, index:index})">Modifier</span>
                <span class="delete-btn" (click)="deleteHouse(element)">Supprimer</span> -->

              <button class="add-btn" (click)="add.emit()" nz-button nzType="primary">
                <i nz-icon nzType="plus"></i>{{getActionName()}}
              </button>

              <button class="edit-btn" (click)="editUser.emit({house: element, index:index})" nz-button
                nzType="primary">
                <i nz-icon nzType="edit"></i>
              </button>

              <button nz-popconfirm nzPopconfirmTitle="Éffacer définitevement ?" (nzOnConfirm)="deleteHouse(element)"
                (nzOnCancel)="1" nzPopconfirmPlacement="top" nz-button nzType="danger" class="delete-btn">
                <i nz-icon nzType="delete"></i>
              </button>
            </p>
            <hr>
          </div>
        </div>

        <div *ngIf="currentView == view.home">
          <h3>{{element.name}} </h3>

          <div class="pl">
            <p><b><u>Type:</u></b>&nbsp; {{getHomeType(element.type)}}</p>
            <p><b><u>Résidence: </u></b>&nbsp; {{getHouseName(element.houseId)}} </p>

            <p style="margin-bottom: 5px;"><b><u>Bailleurs/Locataires</u></b> </p>
            <p style="padding-left: 12px; padding-top: 3px; margin-top: 0px;"
              *ngFor="let item of getRelations(element)"> {{getUserDetails2(item.bail)}} /
              {{getUserDetails2(item.locat)}} </p>

            <nz-collapse style="padding-top: 0; margin: 0;" nzBordered="false">
              <nz-collapse-panel style="padding-top: 0; margin: 0;" [nzHeader]="element.rooms?.length+' Pièces ...'"
                [nzActive]="false">

                <p *ngFor="let room of element.rooms; let index=index">
                  <span><b><u>Pièce Nr {{index+1}}:</u></b> </span>
                  &nbsp; <span style="text-transform: capitalize; font-weight: bold;">{{room.type}}</span><br>

                  <span style="padding-left: 12px;">
                    <span><u>Superficie:</u> {{room.surface}} m²</span><br>

                    <u style="padding-left: 12px;">Équipements: </u> &nbsp;
                    <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                  </span>
                </p>

                <span><u><b>Date de création:</b></u>&nbsp; {{element.timeStamp | date}}</span><br><br>

              </nz-collapse-panel>
            </nz-collapse>

          </div>

          <p style="padding-top: 25px; padding-bottom: 35px; text-align: center;">
            <button class="edit-btn" (click)="editUser.emit({home: element, index:index})" nz-button
              nzType="primary">Modifier
            </button>

            <button nz-popconfirm nzPopconfirmTitle="Éffacer définitevement ?" (nzOnConfirm)="deleteHome(element)"
              (nzOnCancel)="1" nzPopconfirmPlacement="top" nz-button nzType="danger" class="delete-btn">
              Supprimer
            </button>
          </p>
          <hr>
        </div>
      </div>

      <div *ngIf="blankMsg" style="text-align: center; padding: 35px;">{{blankMsg}} </div>
    </div>
  </div>

</div>
