<div class="admin-generic-listing">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <tr class="flex top-bar">
      <td class="search-bar" *ngIf="userLib.allUsers?.length">
        <nz-input-group [nzSuffix]="suffixTemplate">
          <input nz-input placeholder="search by name" (input)="search($event.target.value)" />
        </nz-input-group>

        <ng-template #suffixTemplate>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </td>

      <td class="create-btn">
        <button nz-button [nzSize]="utilsProv.isMobile? 'small' :'large'" nzType="primary" (click)="showForm.emit()"><i
            nz-icon nzType="plus"></i>
          Nouveau</button>
      </td>
    </tr>

    <div class="user-list">
      <div *ngFor="let element of displayList.reverse(); let index=index">
        <div *ngIf="(element.type==0 && currentView==view.landlord) || (element.type==1 && currentView==view.renter)">
          <p><b>{{element.lastName}} {{element.firstName}}</b> <br>
            <span><u><b>Email:</b></u> {{element.email}} ; <u><b>Tel:</b></u> {{element.tel}}</span> <br>
            <!-- <span style="color: #575151;"><u><b>Mot de passe:</b></u> {{element.adminPass}} </span> <br> -->
            <span style="color: #575151;"><u><b>Adresse:</b></u> {{element.addres}} </span> <br>

            <span *ngIf="utilsProv.isDesktop" class="edit-btn"
              (click)="editUser.emit({user: element, index:index})">Modifier</span>
          </p>

          <div *ngIf="currentView==view.landlord">
            <b style="font-size: 16px;"><u>Résidences:</u></b>
            <p style="font-size: 14px; padding-left: 12px;" *ngFor="let house of element.houses; let index=index">
              {{index+1}}. {{getHouseDetails(house)}}
            </p>
          </div>

          <nz-collapse style="padding-top: 12px;" nzBordered="false">
            <nz-collapse-panel nzHeader="Show more ..." [nzActive]="false">
              <p style="color: #575151;"><u><b>Mot de passe:</b></u> {{element.adminPass}} </p>
              <p><u><b>Date de création:</b></u> {{element.timeStamp |date}} </p>

              <p *ngIf="currentView==view.renter"><u><b>Bailleur: </b></u> {{getlandLordName(element.landlordId)}} </p>

              <div *ngIf="currentView==view.landlord">
                <u><b>Locataires</b></u>
                <p *ngFor="let renter of getRenterList(element)">{{renter?.lastName}} {{renter?.firstName}} /
                  {{renter?.tel}} </p>
              </div>
            </nz-collapse-panel>
          </nz-collapse>

          <p *ngIf="utilsProv.isMobile">
            <span class="edit-btn" (click)="editUser.emit({user: element, index:index})">Modifier</span>
            <span class="delete-btn" (click)="deleteUser(element)">Supprimer</span>
          </p>
          <hr>
        </div>

        <div *ngIf="currentView == view.house">
          <p><b> {{element.name}}</b> <br>
            <span><b><u>Adresse:</u></b> {{element.address}} </span><br>
            <span><u><b>Proprietaire:</b></u> &nbsp; {{getUserDetails(element.ownerId)}} </span><br>
            <span><b><u>Equipements:</u></b> </span>
            <span *ngFor="let equip of element.equipment">{{equip}}, </span>

            <nz-collapse style="padding-top: 12px;" nzBordered="false">
              <nz-collapse-panel nzHeader="Show more ..." [nzActive]="false">
                <u><b>Date de création:</b></u>&nbsp; {{element.timeStamp |date}}<br><br>

                <u><b>Logements</b></u>
                <p *ngFor="let home of getHomeList(element); let index=index">{{index+1}}. {{home.name}} / {{home.type}}
                  / {{home.rooms?.length}} Pièces</p>
              </nz-collapse-panel>
            </nz-collapse>
            <!-- <span *ngIf="utilsProv.isDesktop" class="edit-btn"
              (click)="editUser.emit({user: user, index:index})">Modifier</span> -->
          </p>

          <p *ngIf="utilsProv.isMobile">
            <span class="edit-btn" (click)="editUser.emit({user: element, index:index})">Modifier</span>
            <span class="delete-btn" (click)="deleteHouse(element)">Supprimer</span>
          </p>
          <hr>
        </div>

        <div *ngIf="currentView == view.home">
          <p><b> {{element.name}}</b> <br>
            <span><b><u>Type:</u></b>&nbsp; {{element.type}} </span><br>
            <span><b><u>Résidence: </u></b>&nbsp; {{getHouseName(element.houseId)}} </span>

            <nz-collapse style="padding-top: 0; margin: 0;" nzBordered="false">
              <nz-collapse-panel style="padding-top: 0; margin: 0;" [nzHeader]="element.rooms.length+' Pièces ...'" [nzActive]="false">
                <!-- <u><b>Date de création:</b></u>&nbsp; {{element.timeStamp | date}}<br><br> -->

                <p *ngFor="let room of element.rooms; let index=index">
                  <span><b><u>Pièce Nr {{index+1}}:</u></b> </span>
                  &nbsp; {{room.type}}<br>

                  <span style="padding-left: 12px;">
                    <span><u>Superficie:</u> {{room.surface}} m²</span><br>

                    <u style="padding-left: 12px;">Équipements: </u> &nbsp;
                    <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
                  </span>
                </p>
              </nz-collapse-panel>
            </nz-collapse>

            <!-- <span *ngFor="let room of element.rooms; let index=index">
              <br><span><b><u>Pièce Nr {{index+1}}:</u></b> </span>
              &nbsp; {{room.type}}<br>

              <span style="padding-left: 12px;">
                <span><u>Superficie:</u> {{room.surface}} m²</span><br>

                <u style="padding-left: 12px;">Équipements: </u> &nbsp;
                <span *ngFor="let equip of room.equipment"> {{equip}}, </span>
              </span>
            </span> -->


            <!-- <span *ngIf="utilsProv.isDesktop" class="edit-btn"
                      (click)="editUser.emit({user: user, index:index})">Modifier</span> -->
          </p>

          <p *ngIf="utilsProv.isMobile">
            <span class="edit-btn" (click)="editUser.emit({user: element, index:index})">Modifier</span>
            <span class="delete-btn" (click)="deleteHome(element)">Supprimer</span>
          </p>
          <hr>
        </div>
      </div>

      <div *ngIf="blankMsg"  style="text-align: center; padding: 35px;">{{blankMsg}} </div>
    </div>
  </div>

</div>
