<div class="home">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <div class="header">
      <img class="logo" src="assets/imgs/logo.png" alt="">

      <div *ngIf="utilsProv.isDesktop">
        <p class="title">Napata Tech <br>
          <span class="sub-title">We produce high quality software for you and your business</span>
        </p>
      </div>

      <div *ngIf="utilsProv.isMobile">
        <p class="title">Napata Tech </p>
        <p class="sub-title">We produce high quality software for you and your business</p>
      </div>

    </div>

    <div class="content">
      <div class="flex common-service service1">
        <p><b class="service-title">Mobile application </b><br> We create mobile applications
          for all industries.
          We always strive for perfection by providing the best mobile
          experience. Our many years of experience allow us to bring valuable comments to your product and create
          world-class
          application
          <br><br>
          <button nz-button nzSize="large">Contact us</button>
        </p>

        <img src="assets/imgs/mobile-dev.svg" height="160" alt="">

      </div>

      <div class="flex common-service service2">
        <img class="service-first" src="assets/imgs/web-dev.svg" height="160">

        <p><b class="service-title">Internet site</b><br> We create web solutions that are scalable and based on the
          latest technologies. Will it be a portal, facilities for
          applications, work on the frontend layer, we always provide tested solutions that meet the expectations of
          customers and
          their users

          <br><br>
          <button nz-button nzSize="large">Contact us</button>
        </p>
      </div>

      <div class="flex common-service service3">
        <p><b class="service-title">Automate your business</b><br>Managing a business can be
          daunting. It’s easy to get caught up with time-consuming tasks which do not significantly
          affect your company’s bottom line. We provide solutions that keep you right on track on what matters most

          <br><br>
          <button nz-button nzSize="large">Contact us</button>
        </p>

        <img src="assets/imgs/support.png" [width]="utilsProv.isDesktop? 390 : 230" alt="">
      </div>
    </div>

    <div class="sectors">
      <h1>We are expert in these areas:</h1>

      <tr class="flex">
        <td style="text-align: center;">
          <img src="assets/imgs/online-shop.png" height="280" alt="">

          <p style="padding-top: 25px;">E-Commerce with social media integration </p>
        </td>

        <td style="text-align: center;">
          <img src="assets/imgs/success.png" height="280" alt="">

          <p style="padding-top: 25px;">Consulting and custom software development for small to big companies</p>
        </td>

        <td style="text-align: center;">
          <img src="assets/imgs/bar.png" height="280" alt="">

          <p style="padding-top: 25px;">Logistics. Monitor and track your goods and services</p>
        </td>

        <td style="text-align: center;">
          <img src="assets/imgs/edu.png" height="280" alt="">

          <p style="padding-top: 25px;">Education. We help you optimizing your data and having paper less working style
          </p>
        </td>

        <td style="text-align: center;">
          <img src="assets/imgs/health.png" height="280" alt="">

          <p style="padding-top: 25px;">Health. We bring you to the next level providing great tools that are really
            accurate</p>
        </td>
      </tr>
    </div>
  </div>

</div>
