<div class="release">
  <navbar title="Releases notes"></navbar>

  <div style="padding-top: 55px;">

    <h2 style="margin-bottom: 5px; padding-bottom: 5px;">Release V0.11</h2>

    <div style="padding-left: 15px;">
      <p style="color: blue;">New</p>
      <div>
        <ul>
          <li>Editing symtoms</li>
          <li>Release notes</li>
          <li>Enable larger mobile screen</li>
          <li>Main menu added on home page</li>
          <li>Searching symtoms by author or in text</li>
        </ul>
      </div>

      <p style="color: red;">Changed</p>
      <div>
        <ul>
          <li>Gap at login page top removed</li>
          <li>Typos corrected</li>
        </ul>
      </div>
    </div>


    <h2 style="margin-bottom: 5px; padding-bottom: 5px;">Release V0.1</h2>
    <hr>

    <div style="padding-left: 15px;">
      <p style="color: blue;">New</p>
      <div>
        <ul>
          <li>Adding new symtoms</li>
          <li>Like or dislike symtoms</li>
          <li>Basic design</li>
        </ul>
      </div>

      <p style="color: red;">Changed</p>
      <div>
        <ul>
          <li>None</li>
        </ul>
      </div>
    </div>
  </div>
</div>
