<div class="admin">
  <div [class]="screen > 1000 ? 'big-screen' : 'small-screen'">
    <div class="head">
      <tr>
        <td style="width: 60px;">
          <mat-icon (click)="toogleMenu(); currentView=view.none">menu</mat-icon>
        </td>

        <td style="text-align: left; padding-left: 15px;">
          <h1>Cahocenter</h1>
        </td>
      </tr>
    </div>

    <div class="content">
      <div class="main-menu" *ngIf="isMenuOpen && currentView==view.none">
        <div *ngFor="let menu of mainMenu">
          <div class="menu-item" (click)="currentView=menu.view; toogleMenu()">
            {{menu.title}}
          </div>
        </div>
      </div>

      <div class="new-event" *ngIf="currentView==view.newEvent">
        <tr>
          <td>
            <h1 style="text-align: center; color: white">New event</h1>

            <p>
              Nom de l'evénement
              <input type="text" [(ngModel)]="newEvent.name">
            </p>

            <p>
              Nombre estimé d'invités
              <input type="number" [(ngModel)]="newEvent.totalSeats">
            </p>

            <p style="margin-bottom: 22px;">
              Début de l'évènement <br>
              <input [owlDateTime]="sd" [(ngModel)]="newEvent.startDate" hidden>
              <span *ngIf="newEvent.startDate"
                style="padding:  8px; background: white; color: #F44336">{{newEvent.startDate |date:'d/MM/yy, HH:mm'}}
              </span>
              <button [owlDateTimeTrigger]="sd" style="padding: 10px; margin-left: 12px;">Date</button>
              <owl-date-time #sd></owl-date-time>
            </p>

            <p style="margin-bottom: 22px; ">
              Fin de l'évènement <br>
              <input [owlDateTime]="ed" [(ngModel)]="newEvent.endDate" hidden>
              <span *ngIf="newEvent.endDate"
                style="padding:  8px; background: white; color: #F44336; ">{{newEvent.endDate |date:'d/MM/yy, HH:mm'}}
              </span>
              <button [owlDateTimeTrigger]="ed" style="padding: 10px; margin-left: 12px;">Date</button>
              <owl-date-time #ed></owl-date-time>
            </p>

            <p>
              Choisir la salle
              <select (change)="newEvent.room = $event.target.value">
                <option value="Vida">Vida</option>
                <option value="Pythagore">Pythagore</option>
              </select>
            </p>

            <p>
              Disposition des tables
              <select (change)="newEvent.tableType = $event.target.value">
                <option value="tableEnum.Banquet">Banquet</option>
                <option value="tableEnum.Réunion">Réunion</option>
                <option value="tableEnum.Salle de classe">Salle de classe</option>
                <option value="tableEnum.Theâtre">Theâtre</option>
                <option value="tableEnum.U">U</option>
              </select>
            </p>

            <div style="text-align: center;">
              <button class="cancel-newEvent cancel-btn" (click)="currentView=view.none; toogleMenu()">Annuler</button>
              <button class="submit-newEvent submit-btn" (click)="submit()">Valider</button>
            </div>
          </td>
        </tr>

      </div>

      <div class="event-list" *ngIf="currentView==view.eventList">
        <div *ngFor="let event of eventProv.allEvents">
          <div style="background: rgba(255, 255, 255, 0.253); padding: 15px;" (click)="openDetails(event)">
            <h1>{{event.name}}</h1>
            <p>{{event.startDate | date:'d/MM/yy, HH:mm'}} - {{event.endDate | date:'d/MM/yy, HH:mm'}}</p>
            <p><u>Salle:</u> {{event.room}}, &nbsp; <u>Invités enregistrés:</u> {{event.guests?.length || 0}} </p>
            <p>Places attribuées: {{event.seats?.length || 0}} <span style="text-align: right;">id: {{event.id}}</span>
            </p>
            <hr>
          </div>
        </div>
      </div>

      <div class="table-setup" *ngIf="currentView==view.table">
        <div class="content2">
          <mat-drawer-container autosize>
            <mat-drawer #drawer mode="over" position="end">
              <button style="padding: 8px;" type="button" mat-button (click)="drawer.toggle()">X Fermer </button>

              <h1 style="text-align: center; color: white; padding: 15px 5px;">Clicker pour ajouter</h1>

              <div style="max-height: 60%;">
                <div id="t1" class="container" (click)="add('T1 container')">
                  <div class="all stock-chair2">1</div>
                  <div class="all stock-chair2">2</div>
                  <div class="break-row"></div>
                  <div class="stock-table1">T1</div>
                  <div class="all stock-chair2" style="margin-top: 15px">3</div>
                  <div class="break-row"></div>
                  <div class="all stock-chair2">5</div>
                  <div class="all stock-chair2">4</div>
                </div>

                <br>
                <hr>
                <br>

                <div id="t2" class="container" (click)="add('T2 container')">
                  <div class="all stock-chair2">1</div>
                  <div class="all stock-chair2">2</div>
                  <div class="break-row"></div>
                  <div class="stock-table1">T2</div>
                  <div class="break-row"></div>
                  <div class="all stock-chair2">5</div>
                  <div class="all stock-chair2">4</div>
                </div>

                <br>
                <hr>
                <br>

                <div id="t3" class="container" (click)="add('T3 container')">
                  <div class="all stock-chair2" style="margin-left: 58px;">1</div>
                  <div class="all stock-chair2">2</div>
                  <div class="break-row"></div>
                  <div class="all stock-chair2" style="margin-top: 16px; margin-right: 6px;">6</div>
                  <div class="stock-table1">T3</div>
                  <div class="all stock-chair2" style="margin-top: 15px; margin-left: 8px;">3</div>
                  <div class="break-row"></div>
                  <div class="all stock-chair2" style="margin-left: 58px;">5</div>
                  <div class="all stock-chair2">4</div>
                </div>

                <br>
                <hr>
                <br>

                <div id="t4">
                  <div class="stock-table1" (click)="add('T4')">T4</div>
                </div>

                <br>
                <hr>
                <br>

                <div id="t5" class="container" (click)="add('T5 container')">
                  <div class="all stock-chair2" style="margin-left: 16px;">1</div>
                  <div class="all stock-chair2">2</div>
                  <div class="break-row"></div>
                  <div class="stock-table1">T5</div>
                </div>

                <br>
                <hr>
                <br>

                <div id="c1" (click)="add('C1')">
                  <div class="all stock-chair2">C1</div>
                </div>
              </div>
            </mat-drawer>

            <tr class="workbench" style="display: flex;  flex-direction: row; margin: 15px;">
              <td class="right-panel">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                  <div *ngIf="this.showTableMenu" >
                    <button type="button" mat-button (click)="rotateTable()"
                      style="padding: 8px; background: rgb(53, 212, 240); border: none; color: white; margin-right: 15px;">
                      Roter
                    </button>

                    <button type="button" mat-button (click)="deleteTable()"
                      style="padding: 8px; background: tomato; border: none; color: white; margin-right: 25px;">
                      Suppr
                    </button>
                  </div>

                  <button type="button" mat-button (click)="drawer.toggle()"
                    style="padding: 8px; background: gold; border: none; color: brown; ">
                    Ajouter tables
                  </button>
                </div>

                <div id="room" style="height: 90%; overflow-y: scroll; ">
                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 170px;">
                    <div [id]="index" class="T1 container" style="display: none;"
                      (click)="selectPlace(table1.innerText)">
                      <div class="all stock-chair2">1</div>
                      <div class="all stock-chair2">2</div>
                      <div class="break-row"></div>
                      <div #table1 class="stock-table1">{{index}}</div>
                      <div class="all stock-chair2" style="margin-top: 15px">3</div>
                      <div class="break-row"></div>
                      <div class="all stock-chair2">5</div>
                      <div class="all stock-chair2">4</div>
                    </div>
                  </div>

                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 170px;">
                    <div [id]="20+index" class="T2 container" style="display: none;"
                      (click)="selectPlace(table2.innerText)">
                      <div class="all stock-chair2">1</div>
                      <div class="all stock-chair2">2</div>
                      <div class="break-row"></div>
                      <div #table2 class="stock-table1">T2</div>
                      <div class="break-row"></div>
                      <div class="all stock-chair2">5</div>
                      <div class="all stock-chair2">4</div>
                    </div>
                  </div>

                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 210px;">
                    <div [id]="40+index" class="T3 container" style="display: none;"
                      (click)="selectPlace(table3.innerText)">
                      <div class="all stock-chair2" style="margin-left: 58px;">1</div>
                      <div class="all stock-chair2">2</div>
                      <div class="break-row"></div>
                      <div class="all stock-chair2" style="margin-top: 16px; margin-right: 6px;">6</div>
                      <div #table3 class="stock-table1">T3</div>
                      <div class="all stock-chair2" style="margin-top: 15px; margin-left: 8px;">3</div>
                      <div class="break-row"></div>
                      <div class="all stock-chair2" style="margin-left: 58px;">5</div>
                      <div class="all stock-chair2">4</div>
                    </div>
                  </div>

                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 100px;">
                    <div [id]="20+index" class="T4" style="display: none;" (click)="selectPlace(table4.innerText)">
                      <div #table4 class="stock-table1"></div>
                    </div>
                  </div>

                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 170px;">
                    <div [id]="20+index" class="T5 container" style="display: none;"
                      (click)="selectPlace(table5.innerText)">
                      <div class="all stock-chair2" style="margin-left: 16px;">1</div>
                      <div class="all stock-chair2">2</div>
                      <div class="break-row"></div>
                      <div #table5 class="stock-table1">T5</div>
                    </div>
                  </div>

                  <div *ngFor="let item of getMonotonList(20); let index=index" cdkDrag
                    style="position: relative; width: 50px;">
                    <div [id]="index" class="C1" style="display: none;" (click)="selectPlace(index)">
                      <div class="all stock-chair2">X{{index}}</div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </mat-drawer-container>
        </div>
      </div>


    </div>
  </div>

</div>
