.admin {
  height: 100vh;
  color: #ffe4c4;
  // overflow: hidden;

  button {
    font-family: 'Montserrat';
  }

  .cancel-btn {
    background: gainsboro;
    color: black;
  }

  .submit-btn {
    background: #1976d2;
    color: white;
  }

  .head {
    tr {
      display: flex;
      align-items: center;
      height: 70px;
      background: rgba(0, 0, 0, 0.575);
      padding-top: 8px;
      position: fixed;
      width: 100vw;

      h1 {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 35px;
      }

      color: gold;
      padding-left: 15px;
    }

    mat-icon {
      font-size: 52px;
    }
  }

  .content {
    padding: 25px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.658);

    .new-event {
      font-family: 'Montserrat';
      padding-top: 60px;

      tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      td {
        width: 300px;
        max-width: 600px;
      }

      input,
      select {
        color: #f44336;
        height: 30px;
        margin-bottom: 25px;
        width: 100%;
      }

      .cancel-newEvent {
        margin-right: 15px;
      }

      button {
        margin-top: 35;
        padding: 15px;
      }
    }

    .event-list {
      font-family: 'Montserrat';
      padding-top: 80px;

      h1 {
        letter-spacing: 3px;
        font-weight: bold;
      }
    }

    .main-menu {
      padding-top: 100px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .table-setup {
      // height: 80vh;
      // padding-top: 60px;

      .content2 {
        padding-left: 15px;
        padding-top: 70px;
        height: 90vh;

        tr {
          display: flex;
          height: 90%;
        }

        td {
          border: solid 1px gainsboro;
          position: relative;
          padding: 12px;
          width: 100%;
        }

        mat-drawer-container {
          background: rgba(255, 255, 255, 0);
          height: 90%;
          color: white;
        }

        mat-drawer {
          height: 90%;
          background: rgb(214, 200, 3);
          padding: 15px;
          width: 280px;
        }

        .all {
          background: white;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;
        }

        .stock-table1 {
          background: white;
          height: 35px;
          width: 100px;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 12px 6px;
        }

        .container {
          display: flex;
          flex-wrap: wrap;
        }

        .break-row {
          flex-basis: 100%;
          height: 0;
        }

        .break-col {
          flex-basis: 100%;
          width: 0;
        }
      }
    }
  }

  .menu-item {
    border: solid 1px gainsboro;
    padding: 15px;
    margin: 12px;
    width: 90px;
    height: 60px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: bisque;
    border-radius: 15px;
  }

  .big-screen {
    .event-list {
      padding: 60px;

      p {
        font-size: 2vw;
        padding-bottom: 1vw;
        padding-left: 15px;
      }

      h1 {
        font-size: 32px;
        padding-bottom: 15px;
      }
    }

    .new-event {
      td {
        width: 40vw;
        // max-width: 600px;
      }

      h1 {
        font-size: 35px;
      }

      input,
      select {
        color: #f44336;
        height: 40px;
        margin-bottom: 25px;
        width: 100%;
      }
    }

    .menu-item {
      margin: 35px;
      padding: 25px;
    }
  }
}
