.admin {
  height: 100vh;
  color: bisque;

  .head {
    tr {
      display: flex;
      align-items: center;
      height: 70px;
      background: rgba(0, 0, 0, 0.575);
      padding-top: 8px;
      position: fixed;
      width: 100vw;

      h1 {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 35px;
      }

      color: gold;
      padding-left: 15px;
    }

    mat-icon {
      font-size: 52px;
    }
  }

  .content {
    padding: 25px;
    padding-top: 100px;
    height: 100%;
    background: rgba(0, 0, 0, 0.658);

    .new-event {
      tr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      td {
        width: 300px;
        max-width: 600px;
      }

      input,
      select {
        color: #f44336;
        height: 30px;
        margin-bottom: 25px;
        width: 100%;
      }

      .submit-newEvent {
        margin-top: 35;
        padding: 15px;
      }
    }
  }

  .menu-item {
    border: solid 1px gainsboro;
    padding: 15px;
    margin: 12px;
    width: 90px;
    height: 60px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: bisque;
    border-radius: 15px;
  }

  .main-menu {
    display: flex;
    justify-content: center;
  }
}
