<div class="admin">
  <div class="head">
    <tr>
      <td style="width: 60px;">
        <mat-icon (click)="toogleMenu()">menu</mat-icon>
      </td>

      <td style="text-align: left; padding-left: 15px;">
        <h1>Cahocenter</h1>
      </td>
    </tr>
  </div>

  <div class="content">
    <div class="main-menu" *ngIf="isMenuOpen">
      <div *ngFor="let menu of mainMenu">
        <div class="menu-item" (click)="currentView=menu.view; toogleMenu()">
          {{menu.title}}
        </div>
      </div>
    </div>

    <div class="new-event" *ngIf="currentView==view.newEvent">
      <h1>New event</h1>

      Nom de l'evénement
      <input type="text" [(ngModel)]="newEvent.name">

      Nombre estimé d'invités
      <input type="text" [(ngModel)]="newEvent.totalSeats">

      Début de l'évènement
      <input type="datetime" [(ngModel)]="newEvent.name">

      Fin de l'évènement
    </div>

    <div *ngIf="view.eventList">

    </div>

    <div *ngIf="view">

    </div>


  </div>
</div>
