.superAdmin {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  nz-input-group {
    font-size: 25px;

    input {
      font-size: 25px;
      padding-left: 15px;
    }
  }

  .content{
    padding: 15px;
  }

  .main-menu {
    text-align: left;
    padding: 15px;
  }

  .page-header {
    background: #46892a;
    color: white;
  }
}

.desktop {
  .main-menu {
    p {
      width: 200px;
    }
  }
}
