<div class="admin noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">

    <app-header [menuList]="dataprov.mainMenuAdmin" (menuSeleted)="topMenuSelected($event)" (toogleMenu)="toogleMenu()">
    </app-header>

    <div class="content" *ngIf="!dataprov.showTopMenu">
      <h1 *ngIf="currentView==view.none" style="text-align: center;">{{currentTitle}}</h1>

      <div class="new-standard" *ngIf="[view.landlord, view.renter, view.house, view.home].includes(currentView)">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit" style="width: 70%;">
          <admin-generic-listing (showForm)="isNew = true" (editUser)="editUser($event)" [currentView]="currentView">
          </admin-generic-listing>
        </div>

        <div *ngIf="isNew || isEdit">
          <admin-forms [controlArray]="controlArray" [isEdit]="isEdit" [currentUserIndex]="currentUserIndex"
            [data]="data" [currentView]="currentView" (done)="isEdit= false; isNew = false">
          </admin-forms>
        </div>
      </div>

      <div class="cashbox" *ngIf="currentView==view.MoneyIn">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit">
          <button nzType="primary" nz-button (click)="isNew=true">
            <i nz-icon nzType="plus"></i> Ajouter
          </button>
          <br><br>

          <div class="landlord-selection">
            Bailleur
            <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
              <input placeholder="Chercher bailleur" [(ngModel)]="newCashBox.lanlord" nz-input
                (ngModelChange)="onLandlordSelected($event)" [nzAutocomplete]="auto" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto>
              <div *ngFor="let user of getLandlords()">
                <nz-auto-optgroup *ngIf="user.firstName && user.email && user?.apps.includes('chimmo')"
                  [nzLabel]="groupTitle">
                  <ng-template #groupTitle>
                    <span>{{ user.lastName }} {{ user.firstName }} </span>
                  </ng-template>

                  <nz-auto-option [nzLabel]="user.lastName + ' ' + user.firstName" [nzValue]="user.id">
                    {{ user.email }}
                  </nz-auto-option>

                </nz-auto-optgroup>
              </div>

            </nz-autocomplete>
          </div><br>

          <div *ngIf="isSelection1" class="home-selection">
            Logement
            <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
              <input placeholder="input here" nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)"
                [nzAutocomplete]="auto2" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto2>
              <nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle2">
                <ng-template #groupTitle2>
                  <span>{{ group.home}} </span>
                </ng-template>

                <nz-auto-option [nzLabel]="group" [nzValue]="group">
                  {{ group }}
                </nz-auto-option>

              </nz-auto-optgroup>
            </nz-autocomplete>
          </div>
        </div>

        <div *ngIf="isNew || isEdit">
          <div style="text-align: center;">
            <button nz-button (click)="isNew=false; isEdit=false">Annuler</button> &nbsp;&nbsp;
            <button nz-button nzType="primary">Valider</button>
          </div>
        </div>
      </div>

      <div *ngIf="currentView==view.home"></div>

      <div *ngIf="currentView==view.MoneyIn"></div>

      <div *ngIf="currentView==view.MoneyIn2"></div>

      <div *ngIf="currentView==view.bill"></div>

      <div *ngIf="currentView==view.discount"></div>

      <div *ngIf="currentView==view.repair"></div>
    </div>

  </div>

</div>
