<div class="admin noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">

    <app-header [menuList]="dataprov.mainMenuAdmin" (menuSeleted)="topMenuSelected($event)" (toogleMenu)="toogleMenu()">
    </app-header>

    <div class="content">
      <h1 *ngIf="currentView==view.none" style="text-align: center;">{{currentTitle}}</h1>

      <div class="new-standard" *ngIf="[view.landlord, view.renter, view.houses,view.home].includes(currentView)">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit" style="width: 70%;">
          <admin-generic-listing (showForm)="isNew = true" (editUser)="editUser($event)" [currentView]="currentView">
          </admin-generic-listing>
        </div>

        <div *ngIf="isNew || isEdit">
          <admin-forms [controlArray]="controlArray" [isEdit]="isEdit" [currentUserIndex]="currentUserIndex"
            [currentView]="currentView" (done)="isEdit= false; isNew = false">
          </admin-forms>
        </div>
      </div>

      <div *ngIf="currentView==view.MoneyIn">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit" style="width: 70%;">

        </div>

        <tr *ngIf="isNew || isEdit" class="input-form">
          <td style="min-width: 30%;">
            <div *ngFor="let control of controlArray">
              <div *ngIf="['text', 'number',  'email'].includes(control.type)">
                {{control.title}}
                <input nz-input placeholder="" [(ngModel)]="control.value" style="font-size: 25px; margin-bottom: 25px;"
                  [class]="'input-'+control.index" [type]="control.type" />
              </div>

              <div *ngIf="control.type=='date-range'">
                {{control.title}} <br>
                <nz-range-picker nzSize="45px" [nzFormat]="'d/MM/yyyy'" [(ngModel)]="control.value"
                  (ngModelChange)="getTimeStamp(control.index, $event)"></nz-range-picker>
              </div>
            </div>
          </td>

          <td class="summary" *ngIf="controlArray.length">
            <h1 style="text-align: center;">Résumé</h1>
            <br>

            <div *ngFor="let control of controlArray">
              <div nz-row style="padding-left: 25px;">
                <div nz-col style="min-width: 120px;">
                  <p><b>{{control.title}}:</b> </p>
                </div>
                <div nz-col>
                  <div *ngIf="control.type == 'date-range' && control.value">
                    <p>{{control?.value[0] | date:'d/MM/yyy'}} - {{control?.value[1] | date:'d/MM/yyy'}} </p>
                  </div>

                  <div *ngIf="control.type != 'date-range'">
                    <p>{{control.value}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div style="text-align: center;">
              <button nz-button nzSize="large" class="submit-form2" (click)="isNew=false">Annuler</button>
            </div>

          </td>
        </tr>
      </div>

      <div *ngIf="currentView==view.home"></div>

      <div *ngIf="currentView==view.MoneyIn"></div>

      <div *ngIf="currentView==view.MoneyIn2"></div>

      <div *ngIf="currentView==view.bill"></div>

      <div *ngIf="currentView==view.discount"></div>

      <div *ngIf="currentView==view.repair"></div>
    </div>


  </div>

</div>
