<div class="admin noselect">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">

    <app-header [menuList]="dataprov.mainMenuAdmin" (menuSeleted)="topMenuSelected($event)" (toogleMenu)="toogleMenu()">
    </app-header>

    <div class="content" *ngIf="!dataprov.showTopMenu">

      <div class="new-standard" *ngIf="[view.landlord, view.renter, view.house, view.home].includes(currentView)">
        <h1 style="text-align: center; color: #686565;">{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit">
          <admin-generic-listing (showForm)="isNew = true; changeTitle()" (editUser)="editUser($event)" [currentView]="currentView" (add)="addAction()">
          </admin-generic-listing>
        </div>

        <div *ngIf="isNew || isEdit">
          <admin-forms [controlArray]="controlArray" [isEdit]="isEdit" [currentUserIndex]="currentUserIndex"
            [data]="data" [currentView]="currentView" (done)="isEdit= false; isNew = false; resetTitle()">
          </admin-forms>
        </div>
      </div>

      <div class="cashbox" *ngIf="currentView==view.MoneyIn">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit">
          <button nzType="primary" nz-button (click)="isNew=true">
            <i nz-icon nzType="plus"></i> Ajouter
          </button>
          <br><br>

          <nz-collapse>
            <nz-collapse-panel *ngFor="let transaction of getLandLordTransactions()"
              [nzHeader]="getTransactionSenderName(transaction)">
              <div *ngFor="let trans of homeProv.getSubTransactionDetails(transaction).reverse()">
                <div *ngIf="trans.app==dataprov.appName">
                  <p>
                    <span style="font-size: 16px; font-weight: bold;">{{trans.sum | number:'':'fr'}} fCFA</span>
                    <span style="float: right;">{{trans.timeStamp | date}}</span>
                  </p>

                  <p>Employé:
                    <span
                      style="float: right; background: gainsboro; border-radius: 15px; padding: 2px 10px">{{trans.source}}
                    </span>
                  </p>

                  <p *ngIf="trans.note">Notes: {{trans.note}} </p>
                </div>
                <hr>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>

        <div *ngIf="isNew || isEdit">
          <div class="landlord-selection">
            Bailleur
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input placeholder="Chercher bailleur" [(ngModel)]="newCashBox.sender" nz-input
                (ngModelChange)="onLandlordSelected($event)" [nzAutocomplete]="auto" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto>
              <div *ngFor="let user of getLandlords()">
                <nz-auto-optgroup *ngIf="user.firstName && user.email && user?.apps.includes('chimmo')"
                  [nzLabel]="groupTitle">
                  <ng-template #groupTitle>
                    <span>{{ user.lastName }} {{ user.firstName }} </span>
                  </ng-template>

                  <nz-auto-option [nzLabel]="user.lastName + ' ' + user.firstName" [nzValue]="user.id">
                    {{ user.email }}
                  </nz-auto-option>

                </nz-auto-optgroup>
              </div>

            </nz-autocomplete>
          </div><br>

          <div *ngIf="isSelection1" class="home-selection">
            Logement
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto2" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto2 style="height: 25px;">
              <nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle2">
                <ng-template #groupTitle2>
                  <span>{{ group.home.name}} </span>
                </ng-template>

                <nz-auto-option [nzLabel]="group.home.name" [nzValue]="group.home.id">
                  {{ group.home.name }}
                </nz-auto-option>

              </nz-auto-optgroup>
            </nz-autocomplete>
            <br><br>

            Montant
            <input type="number" nz-input nzSize="large" [(ngModel)]="newCashBox.sum">
            <br><br>

            Source
            <nz-select nzSize="large" style="width: 100%;" [(ngModel)]="newCashBox.source">
              <nz-option *ngFor="let source of getPaymentSourceList()" [nzLabel]="source" [nzValue]="source">
              </nz-option>
            </nz-select><br><br>

            Note
            <textarea nz-input nzAutosize="true" [(ngModel)]="newCashBox.note"></textarea>
          </div>

          <div style="text-align: center; padding-top: 35px;">
            <button nz-button style="background: green; color: white;"
              (click)="addCash('in')">Dépôt</button>&nbsp;&nbsp;
            <button nz-button style="background: red; color: white;"
              (click)="addCash('out')">Retrait</button>&nbsp;&nbsp;
            <button nz-button (click)="isNew=false; isEdit=false">Annuler</button>
          </div>
        </div>
      </div>

      <div class="logout" *ngIf="currentView==view.logout">
        <button nz-button (click)="userLib.signOut('chimmo-user')">Déconnexion</button>
      </div>

      <div *ngIf="currentView==view.home"></div>

      <div class="cashbox" *ngIf="currentView==view.MoneyIn2">
        <h1>{{currentTitle}}</h1>

        <div *ngIf="!isNew && !isEdit">
          <button nzType="primary" nz-button (click)="isNew=true">
            <i nz-icon nzType="plus"></i> Ajouter
          </button>
          <br><br>

          <nz-collapse>
            <nz-collapse-panel *ngFor="let transaction of getRenterTransactions()"
              [nzHeader]="getTransactionSenderName(transaction)">
              <div *ngFor="let trans of homeProv.getSubTransactionDetails(transaction).reverse()">
                <div *ngIf="trans.app==dataprov.appName">
                  <p>
                    <span style="font-size: 16px; font-weight: bold;">{{trans.sum | number:'':'fr'}} fCFA</span>
                    <span style="float: right;">{{trans.timeStamp | date}}</span>
                  </p>

                  <p>Employé:
                    <span
                      style="float: right; background: gainsboro; border-radius: 15px; padding: 2px 10px">{{trans.source}}
                    </span>
                  </p>

                  <p *ngIf="trans.note">Notes: {{trans.note}} </p>
                </div>
                <hr>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>

        <div *ngIf="isNew || isEdit">
          <div class="landlord-selection">
            Locataire
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input placeholder="" [(ngModel)]="newCashBox.sender" nz-input
                (ngModelChange)="onLandlordSelected($event)" [nzAutocomplete]="auto" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto>
              <div *ngFor="let user of getRenters()">
                <nz-auto-optgroup *ngIf="user.firstName && user.email && user?.apps.includes('chimmo')"
                  [nzLabel]="groupTitle">
                  <ng-template #groupTitle>
                    <span>{{ user.lastName }} {{ user.firstName }} </span>
                  </ng-template>

                  <nz-auto-option [nzLabel]="user.lastName + ' ' + user.firstName" [nzValue]="user.id">
                    {{ user.email }}
                  </nz-auto-option>

                </nz-auto-optgroup>
              </div>

            </nz-autocomplete>
          </div><br>

          <div *ngIf="isSelection1" class="home-selection">
            Logement
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input nz-input [(ngModel)]="inputValue" (ngModelChange)="onChange($event)" [nzAutocomplete]="auto2" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #auto2 style="height: 25px;">
              <nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle2">
                <ng-template #groupTitle2>
                  <span>{{ group.home.name}} </span>
                </ng-template>

                <nz-auto-option [nzLabel]="group.home.name" [nzValue]="group.home.id">
                  {{ group.home.name }}
                </nz-auto-option>

              </nz-auto-optgroup>
            </nz-autocomplete>
            <br><br>

            Montant
            <input type="number" nz-input nzSize="large" [(ngModel)]="newCashBox.sum">
            <br><br>

            Source
            <nz-select nzSize="large" style="width: 100%;" [(ngModel)]="newCashBox.source">
              <nz-option *ngFor="let source of getPaymentSourceList()" [nzLabel]="source" [nzValue]="source">
              </nz-option>
            </nz-select><br><br>

            Note
            <textarea nz-input nzAutosize="true" [(ngModel)]="newCashBox.note"></textarea>
          </div>

          <div style="text-align: center; padding-top: 35px;">
            <button nz-button style="background: green; color: white;"
              (click)="addCash('in')">Dépôt</button>&nbsp;&nbsp;
            <button nz-button style="background: red; color: white;"
              (click)="addCash('out')">Retrait</button>&nbsp;&nbsp;
            <button nz-button (click)="isNew=false; isEdit=false">Annuler</button>
          </div>
        </div>
      </div>

      <div class="bill" *ngIf="currentView==view.bill">
        <div *ngIf="!isNew">
          <h1 style="text-align: center;">Factures</h1>

          <button nzType="primary" nz-button (click)="isNew=true">
            <i nz-icon nzType="plus"></i> Ajouter
          </button><br><br>

          <nz-collapse>
            <nz-collapse-panel *ngFor="let bill of homeProv.allBills" [nzHeader]="getBillReceiverName(bill)">
              <div *ngFor="let item of homeProv.getSubBillDetails(bill).reverse()">
                <!-- <div *ngIf="trans.app==dataprov.appName"> -->

                <p>
                  <span
                    style="font-size: 16px; font-weight: bold;">{{(item.rent + item.waterDiff*item.waterUnit + item.electricityDiff*item.electricityUnit + item.extra) | number:'':'fr'}}
                    fCFA</span>
                  <span style="float: right; color: brown;">{{item.timeStamp | date}} </span>
                </p>

                <p>
                  <span>Eau: {{item.waterDiff | number:'':'fr'}}*{{item.waterUnit}} fCFA</span>
                  <span style="float: right;">Électricité:
                    {{item.electricityDiff | number:'':'fr'}}*{{item.electricityUnit}} fCFA</span>
                </p>

                <p *ngIf="item.extra"> Extra: {{item.extra | number:'':'fr'}} fCFA </p>
                <p *ngIf="item.note">Note: {{item.note}}</p>
              </div>
              <hr>
              <!-- </div> -->
            </nz-collapse-panel>
          </nz-collapse>
        </div>

        <div *ngIf="isNew">
          ville quartier ou résidence
          <google-maps [placeholder]="'ville quartier ou résidence'" (onPlaceAvailable)="placeSelected($event)">
          </google-maps>

          <div *ngIf="[1,2].includes(step)">
            Choisir résidence
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input [(ngModel)]="newBill.house" nz-input (ngModelChange)="step=2" [nzAutocomplete]="red" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #red>
              <div *ngFor="let house of homeProv.getHousesByAdress(newBill.temp)">
                <nz-auto-optgroup [nzLabel]="groupTitle23">
                  <ng-template #groupTitle23>
                    <span>{{ house.name }}</span>
                  </ng-template>

                  <nz-auto-option [nzLabel]="house.name" [nzValue]="house.id">
                    {{userLib.getUserbyId(house.ownerId).lastName}}
                  </nz-auto-option>

                </nz-auto-optgroup>
              </div>

            </nz-autocomplete>
          </div><br>

          <div *ngIf="[2,3].includes(step)">
            Choisir logement
            <nz-input-group nzSize="small" [nzSuffix]="suffixIcon">
              <input [(ngModel)]="newBill.home" nz-input (ngModelChange)="step=3" [nzAutocomplete]="log" />
            </nz-input-group>

            <ng-template #suffixIcon>
              <i nz-icon nzType="search"></i>
            </ng-template>

            <nz-autocomplete #log>
              <div *ngFor="let home of homeProv.getHomesFromHouse(homeProv.getHouseDetails(newBill.house))">
                <nz-auto-optgroup [nzLabel]="groupTitle24">
                  <ng-template #groupTitle24>
                    <span>{{ home.name }}</span>
                  </ng-template>

                  <nz-auto-option [nzLabel]="home.name" [nzValue]="home.id">
                    {{userProv.getRenterbyHomeID(home.id).lastName}}
                  </nz-auto-option>
                </nz-auto-optgroup>
              </div>

            </nz-autocomplete>
          </div><br>

          <div *ngIf="step==3">
            Locataire
            <input style="margin-bottom: 20px;" type="text" nz-input disabled
              [value]="userProv.getRenterbyHomeID(newBill.home).lastName +' ' +userProv.getRenterbyHomeID(newBill.home).firstName">

            Index eau
            <input style="margin-bottom: 20px;" type="number" nz-input [(ngModel)]="newBill.water">

            Index électricité
            <input style="margin-bottom: 20px;" type="number" nz-input [(ngModel)]="newBill.electricity">

            Extra
            <input style="margin-bottom: 20px;" type="number" nz-input [(ngModel)]="newBill.extra">

            Note
            <textarea style="margin-bottom: 20px;" nz-input nzAutosize="true" [(ngModel)]="newBill.note"></textarea>

            Mois <br>
            <nz-month-picker [(ngModel)]="newBill.timeStamp" (ngModelChange)="dateChanged($event)"
              nzPlaceHolder="Select month">
            </nz-month-picker>


            <div style="text-align: center; padding-top: 35px;">
              <button nz-button (click)="step=0; isNew= false">Annuler</button>&nbsp;&nbsp;
              <button nz-button nzType="primary" (click)="addConsumption()">Valider</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentView==view.discount"></div>

      <div *ngIf="currentView==view.repair"></div>

      <div class="config" *ngIf="currentView==view.config">
        <h1 style="text-align: center;">Valeurs fixes</h1>

        Tarif eau
        <input style="margin-bottom: 20px;" type="number" nz-input #ea>

        Tarif électricité
        <input style="margin-bottom: 20px;" type="number" nz-input #wa>


        <div style="padding-top: 25px; text-align: center;">
          <!-- <button nz-button>Annuler</button>&nbsp;&nbsp; -->
          <button nz-button nzType="primary" (click)="updateConfig(ea.value, wa.value)">Valider</button>
        </div>
      </div>

      <div style="padding-top: 40px; text-align: center;" *ngIf="!dataprov.showTopMenu && currentView==view.none">
        <h1>Choisir un menu</h1>
      </div>
    </div>

  </div>

</div>
