/* You can add global styles to this file, and also import other style files */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 99%;
  height: 99%;
  z-index: 999999;
  color: #3988f0;
}

.backdrop {
  min-height: 100%;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
}
