@import '~ngx-toastr/toastr';

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.spinner {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 99%;
  height: 99%;
  z-index: 999999;
  color: #3988f0;
  left: 0;
}

.backdrop {
  min-height: 100vh;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #f0f2f5;
}

nz-content {
  overflow: initial;
}

.inner-content {
  background: #fff;
  height: 100%;
}
