.renter {
  position: relative;

  .content {
    margin-left: 65px;
    margin-right: 65px;

    nz-range-picker {
      font-size: 25px;
      margin-bottom: 25px;
    }

    font-family: Montserrat;
  }

  .mobile {
    .content {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 80px;
      padding: 12px;

      .new-standard {
        // padding: 25px;
        padding-top: 35px;
      }
    }
  }
}
