<div class="register">
  <div [class.mobile]="utilsProv.isMobile" [class.desktop]="utilsProv.isDesktop">
    <div class="content flex">
      <h1>Hier können Sie Ihren Platz reservieren oder Fragen stellen </h1>

      <div style="border: 1px gainsboro solid; padding: 25px; border-radius: 15px; width: 80%;">
        <tr class="input-form">
          <td class="left-panel">
            Name
            <input type="text" nz-input>
          </td>

          <td class="right-panel">
            <p>aasdklj askdj asjdlk ajsdfh asdjkh ashd khsdkl </p>
          </td>
        </tr>

      </div>
    </div>
  </div>
</div>
