.app {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 99%;
    height: 99%;
    z-index: 999999;
    color: #3988f0;
  }

  .backdrop {
    height: 100%;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999;
  }

  .toolbar {
    height: 80px;
    background: #00a8ff;
    background: linear-gradient(
      90deg,
      rgba(0, 168, 255, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    color: white;
    padding-left: 15px;
  }

  :host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .menu-sidebar {
    position: relative;
    z-index: 10;
    height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  }

  .header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
  }

  .menu-btn:hover {
    color: #1890ff;
  }

  .sidebar-logo {
    position: relative;
    padding: 12px;
    overflow: hidden;
    transition: all 0.3s;
    vertical-align: middle;
    height: 200px;
    background: url('../assets/imgs/bg.png');
    background-size: cover;
    background-position: center;

    .welcome-bar {
      background-color: rgba(0, 0, 0, 0.431);
      margin-top: 15px;

      h2 {
        color: #fff;
      }
    }
  }

  nz-header {
    padding: 0;
  }

  .app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    overflow: hidden;
  }

  nz-content {
    overflow: initial;
    margin: 24px;
  }

  .inner-content {
    background: #fff;
  }

  .menu-item.desktop {
    ul {
      padding-top: 15px;
    }

    li {
      margin-bottom: 35px;
      min-height: 60px;
    }
    a {
      font-size: 32px;
      height: 90px;
    }
    i {
      font-size: 35px;
    }
  }

  .menu-item.mobile {
    ul {
      padding-top: 8px;
    }

    i {
      font-size: 25px;
    }

    a {
      font-size: 18px;
    }
  }

  .screnLockBtn {
    background: grey;
    border-color: black;
  }

  .nz-sider {
    max-height: 100%;
  }

  .backdrop2 {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 999;
    top: 64px;
    height: 100%;
    width: 100%;
  }
}
