<div class="app">
  <div *ngIf="utils.spinner">
    <div class="spinner">
      <img src="assets/imgs/spin.svg" alt="">
    </div>

    <div class="backdrop"></div>
  </div>

  <nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" [(nzCollapsed)]="isCollapsed" [nzWidth]="utils.isMobile? '256px' : '380px'"
      [nzCollapsedWidth]="0">


      <div class="sidebar-logo">
        <!-- <table style="width: 100%;">
          <tr>
            <td style="text-align: center;">
              <i nz-icon nzType="user" nzTheme="outline"
                style="font-size: 45px; color: rgb(223, 223, 25); border: 1px yellow solid; border-radius: 50%; padding: 15px;"></i>
            </td>

            <td style="text-align: right; ">
              <button nz-button nzType="primary" class="screnLockBtn" (click)="closeMenu(); logoff()">
                <i nz-icon nzType="lock"></i>&nbsp; {{userProv.currentUser ? 'Lock screen' : 'Login'}}
              </button>

              <p style="padding-top: 8px; font-weight: bold;" class="profil-name">
                <span *ngIf="!userProv.currentWorker">{{userProv.currentUser?.firstName}}
                  {{userProv.currentUser?.lastName}}</span>

                <span *ngIf="userProv.currentWorker">{{userProv.currentWorker?.firstName}}
                  {{userProv.currentWorker?.lastName}} </span>
                <br>

                <span
                  style="font-size: 11px;">{{userProv.currentWorker ? userProv.currentWorker?.email : userProv.currentUser?.email}}
                </span>
              </p>
            </td>
          </tr>
        </table> -->

        <!-- <div nz-row class="welcome-bar" [nzAlign]="'middle'" [nzJustify]="'space-around'">
          <div nz-col style="margin-top: 10px;">
            <h2>{{userProv.currentUser ? userProv.currentUser?.companyName :'Bienvenue'}}</h2>
          </div>

          <div nz-col *ngIf="userProv.currentUser">
            <button class="logoutBtn" nz-button nzType="default" nzShape="circle"
              (click)="closeMenu(); userProv.signOut()">
              <i nz-icon nzType="poweroff"></i>
            </button> <span style="font-size: 18px; padding-left: 15px; color: white">Log out</span>
          </div>
        </div> -->
      </div>

      <!-- <div class="menu-item" [class.mobile]="utils.isMobile" [class.desktop]="!utils.isMobile">
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <ul>
            <li *ngFor="let item of constant.mainMenu" nz-menu-item nzMatchRouter
              (click)="closeMenu(); checkNav(item.nav)">
              <i nz-icon [nzType]="item.icon"></i>
              <a [routerLink]=" item.nav">{{item.name}}</a>
            </li>
          </ul>
        </ul>
      </div> -->

    </nz-sider>

    <nz-layout>
      <nz-header>
        <div class="app-header">
          <p>
            <span class="header-trigger" (click)="closeMenu()">
              <i class="menu-btn" nz-icon [nzType]="isCollapsed ? 'menu' : 'close'"></i>
            </span>

            <span style="font-size: 25px; font-weight: bold;">{{headerTitle}}</span>
          </p>
        </div>
      </nz-header>

      <nz-content>
        <div class="inner-content">
          <router-outlet [class]="!isCollapsed ? 'backdrop2' : ''"></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
