<div class="event-details">
  <div [class]="screen > 1000 ? 'big-screen' : 'small-screen'">
    <div class="head">
      <tr>
        <td style="width: 60px;">
          <mat-icon (click)="goback()">keyboard_backspace</mat-icon>
        </td>

        <td style="text-align: left; padding-left: 15px;">
          <h1>Cahocenter</h1>
        </td>
      </tr>
    </div>

    <div class="content">
      <tr style="display: flex; justify-content: center; flex-direction: row;">
        <td style="width: 30%;">

        </td>

        <td style="width: 55%;">
          <div id="room">
            <div *ngFor="let item of getMonotonList(50); let index=index" [id]="index" cdkDrag> </div>
          </div>
        </td>

        <td style="width: 10%;">
          <div id="table1">
            <div class="table" cdkDrag=true (click)="add('table')">Test</div>
          </div>
        </td>
      </tr>

      <!-- <tr>
        <td style="width: 20%">
          tz asd f
        </td>

        <td style="min-width: 45%; z-index: 0; background: transparent">
          <div style="text-align: right;" (click)="isStockOpen=!isStockOpen">
            <button>Magasin</button>
          </div>

          <div class="table" cdkDrag>test</div>

        </td>

        <td style="width: 30%; " *ngIf="isStockOpen">
          <br>
          <div style="text-align: center; color:gold">
            <h1>Tables dans le magasin</h1>
          </div>

          <div style="max-height: 300px; padding: 15px; background: red; position: relative; display: ;">
            <div class="stock" style="max-height: 100px ;">
              <div style="padding: 10px;" *ngFor="let item of getMonotonList(20)">
                <div class="table" cdkDrag>{{item}}</div>
              </div>
            </div>
          </div>

          <br>
          <hr>

          <div style="text-align: center; color:gold">
            <h1>Chaises dans le magasin</h1>
          </div>

          <div class="stock" style="height: 35%; ">
            <div style="padding: 10px;" *ngFor="let item of getMonotonList(100)">
              <div class="chair" cdkDrag>{{item}}</div>
            </div>
          </div>
        </td>
      </tr> -->
    </div>
  </div>
