<div class="event-details">
  <div [class]="screen > 1000 ? 'big-screen' : 'small-screen'">
    <div class="head">
      <tr>
        <td style="width: 60px;">
          <mat-icon (click)="goback()">keyboard_backspace</mat-icon>
        </td>

        <td style="text-align: left; padding-left: 15px;">
          <h1>Cahocenter</h1>
        </td>
      </tr>
    </div>

    <div class="content">
      <tr style="display: flex;  flex-direction: row;">
        <td style="width: 30%;">

        </td>

        <td style="min-width: 45%; ">
          <div style="text-align: right;">
            <button nz-button (click)="isStockOpen=!isStockOpen">{{!isStockOpen? 'Magasin' : 'Fermer'}}</button>
          </div>
          <div id="room">
            <!-- <div *ngFor="let item of getMonotonList(50); let index=index" [id]="index" cdkDrag> </div> -->
          </div>
        </td>

        <td style="width: 20%;  color: black; " *ngIf="isStockOpen">
          <h2 style="text-align: center; color: white">Clicker pour ajouter</h2>



          <div id="t1" class="container" (click)="add()" cdkDrag>
            <div class="all stock-chair2">1</div>
            <div class="all stock-chair2">2</div>
            <div class="break-row"></div>
            <div class="stock-table1"></div>
            <div class="all stock-chair2" style="margin-top: 25px">3</div>
            <div class="break-row"></div>
            <div class="all stock-chair2">5</div>
            <div class="all stock-chair2">4</div>
          </div>
        </td>
      </tr>
    </div>
  </div>
