<div class="home">
  <div class="logo">
    <img src="assets/imgs/logo.png" alt="">

    <div class="logo-line"></div>
  </div>
  <h2>
    Mémoire collective pour la désalienation des peuples Africains !
  </h2>
  <br>

  <div class="content">
    <div class="section1">
      <h2><u>Le problème:</u> Aliénation</h2>

      <div style="padding-left: 12px;">
        <p>1. Transmission volontaire ou légale à autrui de la propriété d'un bien ou d'un droit.</p>

        <p>2. État de quelqu'un qui est aliéné, qui a perdu son libre arbitre.</p>

        <p>3. Situation de quelqu'un qui est dépossédé de ce qui constitue son être essentiel, sa raison d'être, de
          vivre.
        </p>
      </div>
    </div><br>


    <div class="section2">
      <h2><u>La solution:</u> Désaliénation</h2>

      <div style="padding-left: 12px;">
        <p>Libérer quelqu'un de l'aliénation, le rendre libre ou indépendant par rapport aux contraintes qui tendent à
          l'asservir.</p>
      </div>
    </div><br>


    <div class="section3">
      <h2><u>Les outils:</u></h2>

      <div>
        <p routerLink="/conscience">1. Prendre conscience <span
            style="float: right; padding-right: 12px; font-size: 18px;">&#8594; </span></p>
        <p>2. S'éduquer <span style="float: right; padding-right: 12px; font-size: 18px;">&#8594; </span></p>
        <p>3. Archiver les acquis <span style="float: right; padding-right: 12px; font-size: 18px;">&#8594; </span></p>
        <p>4. Passer le témoin <span style="float: right; padding-right: 12px; font-size: 18px;">&#8594; </span></p>
      </div>
    </div>
  </div>
</div>
